[2014-07-02 19:30] natergj opened #1 "error when calling write function multiple times"
if the write function is called more than once, there is a corruption in the XML data as various attributes are added multiple times.

[2014-07-02 20:10] #1 closed, assigned to natergj

[2014-08-02 04:58] vallkyrie opened #2 "Files missing data when read with XLRD"
Nice tool!  I've had some success writing excel files, but for some reason xlrd seems unable to find the data in certain cells.

For example, if you run the sample script and then run the runxlrd.py script (sudo pip install xlrd), you see the cells are empty:

[code]

[2014-08-02 13:49] #2 closed, assigned to nobody

[2014-08-04 14:45] natergj opened #3 "error when adding multiple sheets without specifying name"
I two sheets are added with the same name or with a name not specified, excel file will give error when opening file and rename sheets.

[2014-08-13 17:45] natergj opened #4 "add callback function when writing to filesystem"

[2014-08-13 17:47] natergj opened #5 "Add date functions"

[2014-08-13 17:48] natergj opened #6 "add ability to apply styles to cell ranges"

[2014-08-13 17:48] natergj opened #7 "add ability to merge cells"

[2014-08-13 17:49] natergj opened #8 "add text formatting options to allow for more than one text style in single cell (size, color, decoration, etc)"

[2014-08-13 17:49] natergj opened #9 "Add ability to collapse rows/columns"

[2014-08-13 17:50] natergj opened #10 "add ability to hide rows/columns"

[2014-10-01 13:39] samhagman opened #12 "Writing a value of undefined to a cell throws an error on wb.write()"
This is the thrown error:

[Error: Could not create any elements with: [object Object]]

[2014-10-09 20:56] #7 closed, assigned to natergj

[2014-10-09 20:56] #6 closed, assigned to natergj

[2014-10-24 14:45] ackerdev opened #13 "Add ability to freeze rows"

[2014-10-27 18:09] ackerdev opened #14 "Font Alignment via Cell Format does not work"
`cell.Format.Font.Alignment.Horizontal(align)` fails with error:

[code]

Same thing with Vertical. Both methods reference `this`, assuming it will be the formatter object, but they are children of the `alignment` object, so this fails. Horizontal is also missing its `val` argument.

The following lines also appear to be wrong, I think they should be `tmpStyle.Font.Alignment...`
https://github.com

[2014-10-27 22:35] #14 closed, assigned to natergj

[2014-10-27 22:41] #12 closed, assigned to natergj

[2014-10-27 22:41] #3 closed, assigned to natergj

[2014-10-27 23:17] #13 closed, assigned to nobody

[2014-10-29 15:33] ackerdev opened #15 "Strange freeze behavior?"
I'm having a fair bit of trouble replicating this bug, but I have a fairly large sheet of data (40-by-250 ish) where I am trying to freeze the first row and header at the same time, and they appear to be malformed somehow as on Excel 2007 the frozen row shows up twice (disappears on scroll, and is fixed on saving through excel), and on Excel 2013 it shows a message on startup that the file was mal

[2014-10-30 14:55] ackerdev opened #16 "Invalid rbg value"
Found this while investigating #15, running my document through the OpenXML SDK 2.0 Validator:

Comparing the Source file to a version that was opened and saved in Excel 2007, it looks like Excel07 fixes it by prepending 'FF' to all of my 6-digit hexadecimal colors (`FF0000` becomes `FFFF0000`, `2C68FA` becomes `FF2C68FA`, etc). Not sure how other versions of Excel handle or react to this, however

[2014-11-02 17:33] #15 closed, assigned to nobody

[2014-11-02 17:33] #16 closed, assigned to nobody

[2014-11-16 21:41] kimsreng opened #17 "Load existing file"

[2014-12-18 00:37] #4 closed, assigned to natergj

[2014-12-18 00:39] #9 closed, assigned to natergj

[2014-12-23 02:43] AlfonsoJS opened #19 "Paper Format"
hi natergj :)

tested your excel4node module an I have to say that it is great, but it there a way to set the paper formater.

I mean is it possible to set the left, right, top and down margin?
Is it also possible to set the content on the center of the page horizontaly but not vertically?

Would be also nice to be able to zoome the wole content.

thanks for the great work!

[2015-01-08 19:32] twykke opened #20 "compression format (or other JSZip options)"
first, i'd like to say great job, because this module has the cleanest syntax i've seen and it doesn't use a ridiculous amount of CPU or RAM like some other modules which shall remain nameless.

may i request changing the compression type for JSZip from default 'STORE' to 'DEFLATE'?  or alternatively, adding the abiility to pass in a config object for JSZip file() method, or a flag to switch compr

[2015-01-08 23:36] natergj commented on #20
Thanks for the feedback and request.  I'm currently refactoring the module to clean up the code a lot and also add a options object parameter when initializing a workbook. I'll be certain to include options for JSZip in that object.

[2015-01-09 16:48] natergj opened #21 "Foreign Characters in strings cause issue when generating XML files."

[2015-01-23 10:43] pookong opened #22 "empty string in cell -> "undefined" in xlsx"
Hello,
first of all - thanks for this awesome library!

bug description:
when I set cell.String("") (empty string), the resulting cell in xlsx has value "undefined"

steps to reproduce:
[code]

best regards,
Tom

[2015-01-24 04:08] lvarayut opened #23 "How to set width as 100%?"
First of all, thanks for the awesome library. It works perfectly well!

I just have a basic question here. I want to set a column width to 100%, the column could be able to expand to cover the longest content in one line. Is it possible to do so? I tried many options but still didn't work.

[2015-01-24 13:31] natergj commented on #23
I was asked by one of the people who use the spreadsheets that are created by the library if I could update it to do just this.
It certainly is possible, but the solution I could think of is not great and basically involves using system tools to render the font string in order to account for font size, face and decoration and measuring that. I don't like this solution because it relies on the syst

[2015-01-24 14:07] natergj commented on #22
Thanks.
This is now fixed in the dev branch. The dev branch is a complete refactor of the library (it's much faster and more efficient than the current and a lot easier to add new features to). But now I have quite a bit of testing to do. I'm hoping to push this into master tomorrow night. It will be version 0.2.0.

[2015-01-24 14:17] lvarayut commented on #23
Thanks @natergj  for the great response. I agree with your second approach that we could find the longest string that a user has put in each column and also a style applied to the column during the `xl.write()` process. This could make us roughly know that how much width in each column we should set for the user.

When I have time, I will try to implement this approach and see if it works.

[2015-01-24 14:23] natergj commented on #21
fixed in dev. all values sent to cell.String() have .toString() applied.

[2015-01-24 14:28] natergj commented on #23
just an FYI. tomorrow night I'm planning on merging my dev branch into master.  It is a complete refactor which takes care of quite a few inefficiencies and cleans up some mess of some hastily written code of the current master.  you'll want to update your fork.

[2015-01-25 21:53] natergj commented on #22
hi @pookong, I just pushed out version 0.2.2 to npmjs.com. This issue has been resolved in that release.

[2015-01-25 21:53] #22 closed

[2015-01-25 21:53] #21 closed

[2015-01-25 21:54] natergj commented on #20
hi @twykke, I just pushed out version 0.2.2 to npmjs.com. You can now specify compression format when creating a new workbook. Instructions are in the README

[2015-01-25 21:54] #20 closed

[2015-01-25 21:55] natergj commented on #19
hi @AlfonsoJS, I just pushed out version 0.2.2 to npmjs.com. You can now specify zoom, margins and centering content for print when creating a new worksheet. Instructions are in the README

[2015-01-25 21:55] #19 closed

[2015-01-25 22:02] natergj commented on #5
added in version 0.2.0

[2015-01-25 22:02] #5 closed

[2015-01-26 08:18] pookong commented on #22
thank you, I will look forward to updating the library.

[2015-02-03 07:49] AlfonsoJS commented on #19
hi natergj.
thanks a lot, will try it as soon as possible

[2015-02-04 16:50] RafaPolit opened #24 "Error merging cells if the span includes the Z and AA column"
Thanks for this wonderful tool!

I am seeing a very weird issue:
* if I merge more than 2 cells in a span that includes the Z and AA columns (either with cells before the Z column, after the AA column or both), only Z and AA columns are merged, and all the others are kept with the original text but not merged.

To test this, a simple line will do:
* ws.Cell(5, 25, 5, 28, true).String('Problem')

Y

[2015-02-05 00:35] natergj commented on #24
Hello RafaPolit,
Thanks for letting me know about this issue. it turned out to be an error in my sort function for sorting an array of Excel references that would put AA ahead of Z. This has been resolved and the updated package pushed to npmjs.com.

[2015-02-05 00:35] #24 closed

[2015-02-05 03:53] RafaPolit commented on #24
Fantastic swift response!  It's a pleasure working with your library and to see such dedication.  Thanks.

[2015-02-05 20:27] RafaPolit opened #25 "Error merging cells if the span includes the AZ and BA columns."
Thanks for the quick fix to issue 24 ( https://github.com/natergj/excel4node/issues/24 )

Now the same issue is happening again but now between cells AZ and BA. To test this:
* ws.Cell(5, 51, 5, 54, true).String('New problem')

Also, if a cell spans from before cell Z to after cell BA, the issue is almost the same, but not quite.  To test this:
* ws.Cell(5, 25, 5, 55, true).String('Different Probl

[2015-02-07 19:51] natergj commented on #25
This should be fixed now from your pull request.  Thank you, again, for that!

[2015-02-07 19:51] #25 closed

[2015-02-12 02:39] TRex22 opened #28 "Add ability to create advanced Excel worksheet features."
Could you look into adding additional features to your library such as graphs and the ability to create data tables from columns and rows.

[2015-02-18 15:30] natergj commented on #28
graphs and pivot tables were something that my users have asked for, too. I'm putting this as an enhancement request. I'm finishing up with a big project right now, so it'll be a few weeks before I'll be able to work on new features for the library.

[2015-02-18 15:48] TRex22 commented on #28
Cool. I look forward to adding the new features to my app. I was contemplating writing my own xml parser but I really did not want to do that.

[2015-03-24 19:52] stefanhenze opened #31 "Support for conditional formatting"
Is support for conditional formatting already on the roadmap? This is by far the most comprehensive Excel library for node js that I could find and it would be great to see that feature added.

[2015-03-26 22:08] natergj commented on #31
It's not on the roadmap yet, but i'm certain my users would find it useful, so I'm setting this as a feature request to add.

[2015-03-31 13:27] natergj commented on #10
added in release 0.2.12

[2015-03-31 13:27] #10 closed

[2015-05-17 19:23] idanblich opened #33 "Use existing file template"
Hi ,
Great work !
How can i use an existing file as a template for all style and only add the data and formulas to the spreadsheet ?

Tx.
Idan

[2015-06-05 03:12] foxdieCR opened #35 "problem with add multi images"
Sorry for my English; but I think I found a bug when trying to add multiple images; never enters the loop at line 220, and lines 238, 246 and 253, the rId is always rId1; all this in Images.js;
I fixed changing the loop with this imgID = ws.drawings.drawings.length;
and line 238, 246,253 with this 'rId'+imgID
hope you can fix it. thanks

[2015-06-09 21:01] natergj commented on #35
Thanks @foxdieCR!
I just published an update to npmjs.com to fix this problem.

[2015-06-09 21:01] #35 closed

[2015-06-10 19:53] arg-mike opened #36 "xlxs file corrupted when is sent to http response for a second time"
The same xlsx file generated and sent to http response for a second time is opened as a corrupted file and then recovered by Ms Excel.
I got the same behavior when I use the sample.js

[2015-06-10 20:42] arg-mike commented on #36
If I restart the server, the file is sent to http response without error. Also I found the same behavior with:
// Synchronously write file
wb.write("Excel.xlsx");
After the server writes the xlsx file for a second time, with the server running, MS Excel opened as a corrupted file, and tries to recover it.

[2015-06-10 22:15] natergj commented on #36
Hi @arg-mike
I was a bit confused when I first read this. I had been running this code on a heavily used test instance writing many many reports throughout the day without issue for a few days now. It turns out I just made a horrible sample file. I pushed a better on into the master branch just now.  I'll have to work on making a much better sample later on. The problem was I was setting my main w

[2015-06-11 12:34] arg-mike commented on #36
Thank you for your great support. You are doing a great job!

[2015-06-11 12:34] #36 closed

[2015-07-22 07:51] 7brend7 opened #39 "Wrong count calculation of cells"
Hi,
I've prepared simple sample which shows the issue:
[code]

Debugging method:
![image](https://cloud.githubusercontent.com/assets/2050897/8820560/51cd4ab6-305f-11e5-8cbf-bc6329cf0654.png)

[2015-07-22 12:35] natergj commented on #39
Thanks @7brend7. I just pushed an update into the dev branch. I have one more thing I was to fix today and then will be pushing to master and re-publishing to NPM. Should be by the end of the day.

[2015-07-22 19:32] #39 closed

[2015-09-02 13:03] natergj opened #40 "workbook.xml filter database not updating on write out"
Issue does not cause problems with filtering, but should be fixed regardless.

[2015-09-02 16:13] ashishbajaj99 commented on #33
Hi idan, were you able to resolve this? I am looking for similar functionality. Appreciate any pointers.

Thanks.

[2015-09-23 12:35] hansiemithun opened #41 "Password protection for file"
First of all i would thank you for an awesome library :) Is there any way of generating an excel with password protection. Also read an file with password given for those. Awaiting for your response author

[2015-09-24 22:18] natergj commented on #41
There are two kinds of workbook password protections. There is the "Password to open" and "Password to modify". The password to modify is pretty easy to implement as it just adds a few attributes to the workbook XML files.  I just pushed a commit into the dev branch that adds the ability to protect a workbook and worksheets from modification. The "Password to open" actually changes how the whole s

[2015-09-25 08:58] hansiemithun commented on #41
Thanks for the consideration. By default wb.write(filename); generates xlsx without any password. I was looking for generating xlsx file with password optionally. And read the same file giving password from app itself. Modifying password is also a good one. Could you please brief in detail with an example in readme about this. And one more thing is can you please give an example of border creation

[2015-09-25 12:42] natergj opened #42 "Calling a Column function where column does not include data causes xml build error"
reproduce by calling .Hide() on column that has no data

[2015-09-25 12:45] natergj commented on #41
oK. I'll keep this issue open until I can add the ability to add "Password to open"
Please open new issue for the Border item rather than adding it to this chain.

[2015-09-25 12:53] natergj opened #43 "wb.write with callback should return information about the file to callback"
such as path, size, etc.

[2015-09-25 13:23] hansiemithun opened #44 "Border function doesnt exist for individual cell creation"
The below code for creating borders doesnt apply or exist in the time of individual cell creation until we inherit from wb.Style();

cell.Format.Border({
top:{
style:'thin',
color:'CCCCCC'
},
bottom:{
style:'thick'
},
left:{
style:'thin'
},
right:{
style:'thin'
}
});

Please add border function for individual cell creation as well

[2015-10-03 19:47] natergj commented on #42
fixed for 0.2.20

[2015-10-03 19:47] #42 closed

[2015-10-03 20:46] natergj commented on #44
Feature was added in the dev branch with commit [03db04e](https://github.com/natergj/excel4node/commit/03db04eb2d94d05a56e383e0cab981c1e9ee8b55)

[2015-10-14 18:09] natergj commented on #40
resolved in 0.2.20

[2015-10-14 18:09] #40 closed

[2015-10-14 18:10] natergj commented on #44
added in 0.2.20

[2015-10-14 18:10] #44 closed

[2015-10-26 17:54] codyhazelwood opened #45 "Generated excel files are updated by excel and require saving"
The files generated by excel4node have some slight differences from files generated by Excel.  After opening one of these files, Excel prompts to save unsaved changes.

Comparing the generated XML, I see that it's mostly minor things such as a missing encoding on the xml tag (`encoding="UTF-8"`), missing newlines, or missing/rearranged parameters.

[2015-10-30 06:28] hawky93 opened #46 "Inquiry : setValidation to include cell ranges from same sheet or different sheet"
ws.setValidation({
    type: "list",
    allowBlank: 1,
    showInputMessage: 1,
    showErrorMessage: 1,
    sqref: "X2:X10",
    formulas: [
        'value1,value2'
    ]
});

This code segment explains how to apply a list validation to a certain cell which is really helpful. But is it possible to adjust the formula to refer to a range of cells from a different sheet or at least the same sheet?

[2015-10-31 15:37] natergj commented on #45
I hear that from my users, too. the issue isn't with missing newlines or parameters, but a specific missing tag on cells with the formulas. You can test it out by creating a workbook without any formulas. Excel calculates the cell values then added a v tag to that cell with the calculated value and since cell properties changed, asks you to save when closing the file. The only way to get around th

[2015-10-31 16:54] natergj commented on #46
I needed to make a small change to the validation code to support this.  If you download the current dev branch you can use the following to get values from a referenced cell list. This would reference a sheet name "sheet2" and cells A1:A2.  I need to do some testing and then I should get this published to NPM early next week. Please let me know if this takes care of what you were looking for.

ws

[2015-11-01 18:54] hawky93 commented on #46
Thanks, this is exactly what I was looking for.

[2015-11-03 06:57] hawky93 opened #47 "Inquiry : write file to node response"
wb.write("My Excel File.xlsx",res);
Need a bit of clarification on how this can be sent via a node response to be downloaded. I am using Express js routing.
A sample code could help.  Thanks in advance.

[2015-11-08 22:06] natergj commented on #46
I just published 0.2.22 to npmjs.com that includes this functionality. I'm going to close this issue now.

[2015-11-08 22:06] #46 closed

[2015-11-08 22:16] natergj commented on #47
This is a very basic example with express. you can download the excel book at http://127.0.0.1:3000/myreport

https://gist.github.com/natergj/62b9d2bfd3e2c6adf87a

[2015-11-08 22:16] #47 closed

[2015-11-08 22:18] natergj commented on #45
I've been thinking about this and have come to the conclusion that it would likely be too much work to implement evolution of Excel functions in the library. If you'd like to give it a go and create a pull request, that would be awesome.

[2015-11-08 22:18] #45 closed

[2015-11-10 05:24] dmnorc opened #49 "Cell Format Font Size bug."
cell.Format.Font.Size(value) doesn't work because of invalid attribute name: 'size' instead of 'sz' Cell.js:340

[2015-11-10 11:06] natergj commented on #49
Thanks, @dmnorc. I've merged your pull request and published the updates to npmjs

[2015-11-10 11:06] #49 closed

[2015-11-23 19:55] heinst opened #51 "wb.write("My Excel File.xlsx",res) doesn't work"
When I try to send the newly created xlsx file via res, it doesn't work. No error either so I'm not really sure what is going on. I'm using the example in the documentation:

```wb.write("My Excel File.xlsx",res);```

[2015-11-24 00:48] natergj commented on #51
I created two gists to help with this
https://gist.github.com/natergj/2679f3e0635333b9fdd0 uses node.js native http module.
https://gist.github.com/natergj/62b9d2bfd3e2c6adf87a uses express.js

I'm going to close this issue, but if you still have troubles and could put your code into a gist, I can take a look at it.

[2015-11-24 00:48] #51 closed

[2015-11-24 04:35] heinst commented on #51
Thanks for this, it pointed me in the right direction. I am using Sails.js which uses Express to create endpoints. I have an endpoint that I post data, using an ajax call, to create the excel file. When I do this, the ```wb.write("My Excel File.xlsx",res);``` doesn't work. I also tried Express's `res.download()` and no luck either. I figured out that if I did ```window.location.assign('/theendpoin

[2015-11-25 00:10] natergj commented on #51
We run in the same problem where I work. An ajax call expects data back, not files, so simply sending a post request via ajax will not work. Our reports get very complicated and pull from multiple sources, so it can take some time for them to generate. Rather than sending people to a route that generates the files, we use web sockets. (we use socketcluster, http://socketcluster.io, to manage socke

[2016-01-13 19:29] bugeats commented on #31
@stefanhenze I just added basic conditional formatting support. Using the "expression" type, you can apply styles based on the results of a boolean formula. More info in the README.

[2016-01-14 20:48] dgofman opened #54 "Complex formating"
Hi Guys,

Your library is awesome. I already planed to write my own Excel project and finally found your project. But I need some additional features. I created  pull request to handle complex strings.

https://msdn.microsoft.com/en-us/library/office/gg278314.aspx
http://officeopenxml.com/SSstyles.php

Pull Request: https://github.com/natergj/excel4node/pull/60

[2016-01-14 22:17] dgofman commented on #54
Here is my changes

[workbook.zip](https://github.com/natergj/excel4node/files/91079/workbook.zip)

cell.js

Line #19
[code]

Line # 88
[code]

Line #639
[code]

Line #729
[code]

In workbook.js

Line #431
[code]

And my test string is
[code]

[2016-01-14 22:44] dgofman commented on #54
Another suggestion create simple function in workbook.js

[code]

Currently I am overriding default font size like this
[code]

But someone who doesn't know your library it will be challenge by looking for in your documentation.

[2016-01-15 00:12] dgofman opened #55 "Please do not override default Array!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
That is very bad idea to overriding Array forEach by default.

https://github.com/natergj/excel4node/blob/ef04a5e3372961782eb8bd95ec205aa0eae9a6a0/lib/workbook/workbook.js#L22

You can break entire project(s) for developers who will use your library.

In most case to avoid if condition developers may use (for ..var)  loop in Array

[code]
Result is:
0=A
1=B
2=C

now adding on top your Workbook con

[2016-01-15 00:18] dgofman commented on #55
Now all my codes I need to use if condition and basic for loop

if (array !== undefined) {
   for (var index = 0; index < array.length; index++) {
        console.log(index + '=' + array[index]);
  }
}

That is so bad, not body is expecting entire code changes after importing your library.

Please use underscore _each or use JavaScript build in forEach function

array.forEach(function(index, elm)

[2016-01-15 22:17] dgofman opened #58 "Images are not supporting"
Hi. I found lot of issues with image API's

1) The file size is increasing by using the same image cross worksheets.
2) Image width/height is not scaling and is impossible re-size if dimension is not the same
3) Image repeats in the cell.
4) it's challenge to calculate EMU size and position, I have no idea why we should pass EMU value instead pixels.
5) Cannot use other anchor image formats  'oneC

[2016-01-16 00:05] dgofman commented on #58
Ok, I fixed all these issue please review my pull request

https://github.com/natergj/excel4node/pull/59

![image](https://cloud.githubusercontent.com/assets/147298/12368595/b7a4238c-bba1-11e5-885d-b76eeb19ab4a.png)

[2016-01-16 03:56] bugeats commented on #55
I'm curious about this history of the `allowInterrupt` option. It really is out of scope of the project.

[2016-01-16 04:38] dgofman commented on #55
I have no idea too why you or someone from your team added "e4nForEach" for Array.prototype.
First of all I don't see any benefits using setTimeout in each iteration. If you want to iterate outside main thread call function as setTimeout for this function. Currently is expensive operation for each item in any arrays execute new thread.

[2016-01-16 23:51] dgofman opened #61 "Page orientation and print titles"
First of all why I cannot use 'landscape' orientation  without page scaling.

Second, I would like to print column(s) and row(s) cross all pages

https://support.office.com/en-us/article/Repeat-specific-rows-or-columns-on-every-printed-page-0d6dac43-7ee7-4f34-8b08-ffcc8b022409

[2016-01-17 19:39] seungkim11 commented on #58
How did you fix image repeating in a cell?

[2016-01-17 20:05] dgofman commented on #58
You have two approaches.

1) Set image size using ABSOLUTE or ONE_CELL
2) Using TWO_CELL anchor will set cell size automatically

For options how to embed images:

//Absolute position near D3
ws.Image('sampleFiles/image1.png', ws.Image.ABSOLUTE).Position(218, 400).Size(255, 50); //arguments: y-pixels, x-pixels

//A3
ws.Image('sampleFiles/image1.png', ws.Image.ONE_CELL).Position(3, 1, 10, 40).Size(

[2016-01-17 20:22] seungkim11 commented on #58
It's working nicely. Thank you!

[2016-01-17 20:25] dgofman commented on #58
Welcome!

[2016-01-17 22:43] dgofman opened #63 "Print Scaling is not working properly."
Excel provides 5 different scaling during page print

![image](https://cloud.githubusercontent.com/assets/147298/12380467/947d619c-bd28-11e5-94ec-3b8adbc01877.png)

So, far I can see you are supporting only one - "Custom Scaling"

For each sheet in the same excel I need to use different options.

[2016-01-17 22:45] dgofman commented on #63
https://github.com/natergj/excel4node/pull/64

[2016-01-18 12:54] goleankush opened #65 "Can not read excel after Z cell"
When I try to read excel using nodeJS it read only upto Z column. can not read after that. i.e AA,AB after all column.

[2016-01-18 12:54] goleankush commented on #65
Can any one please help me?

[2016-01-19 00:18] natergj commented on #65
Is there a particular library you're using to read the excel file? This library doesn't get have the ability to import an excel file yet.  Code samples are always helpful.

[2016-01-19 17:21] seungkim11 opened #68 "function forEach() { [native code] }"
After exporting to excel file by attaching it to response, I get this message
function forEach() { [native code] }

Has anyone encountered this problem or might know why is happening?

[2016-01-19 19:24] #68 closed

[2016-01-19 19:25] seungkim11 commented on #68
solved after merging dgofman's pull requests. I think this was caused by custom forEach loop implemented in Array.prototypes

[2016-01-20 15:38] natergj commented on #55
It was added to allow for very large sets of Cells to be manipulated (mostly have their style set) without causing a block to the responses of an express application if the API and reports were being generated on a single instance. It's been removed with the merges of dgofman's pull request since it seems to be causing issues.

[2016-01-20 15:38] #55 closed

[2016-01-20 15:39] natergj commented on #8
Implemented with version 0.4.0 by addition of code from @dgofman

[2016-01-20 15:39] #8 closed

[2016-01-20 15:39] #31 closed

[2016-01-20 15:40] natergj commented on #54
merged into version 0.4.0. Thanks, @dgofman

[2016-01-20 15:40] #54 closed

[2016-01-20 15:41] natergj commented on #58
merged into version 0.4.0. Thanks, @dgofman

[2016-01-20 15:41] #58 closed

[2016-01-20 15:41] natergj commented on #61
Fixes merged into version 0.4.0. Thanks, @dgofman

[2016-01-20 15:41] #61 closed

[2016-01-20 15:41] natergj commented on #63
Fixes merged into version 0.4.0. Thanks, @dgofman

[2016-01-20 15:41] #63 closed

[2016-02-01 17:26] ivantodorovich commented on #28
@TRex22 since you didn't had to, maybe you could submit a PR :wink:

[2016-02-23 20:58] dhollenbeck opened #70 "AWS Caching of excel4node@0.4.1"
I am encountering a problem with NPM on AWS Opsworks caching excel4node@0.4.1 with incorrect filenames (first letter capitalized) for the files in the lib folder. These files were renamed to lower case on commit https://github.com/natergj/excel4node/commit/5409206421ac49ffe2342382c237dd1d10a9e58c

When  `npm install` is executed on a Ubuntu instance running under AWS Opsworks excel4node@0.4.1 is i

[2016-02-23 23:17] natergj commented on #70
I've not used opworks before and am not sure what might be causing that. One thing you might try is setting the version number in your package.json file to the full tar.gz path on github. I've created a new branch of this specific release and if this works, I can start creating new branches for every subsequent release. https://github.com/natergj/excel4node/archive/release0.4.1.tar.gz
With that ur

[2016-02-24 00:51] dhollenbeck commented on #70
@natergj Thank you so much for your suggestion. I was able to get the following to work in the package.json file:
[code]
The following did not work:
1. ssh into to the instance
2. `sudo npm cache clear`
3. `sudo npm install excel4node`
4. `node server` to start the app
5. deploy app again from AWS console

The app would start on step 4, but as soon as I performed the next deployment AWS Opsworks p

[2016-03-09 19:13] bblack opened #71 "Currency format"
Inside Excel, there's a "Currency" format which allows decimal precision and currency symbol to be specified, rather than taking a full formatting string, which allows user-locale-specific presentation details like the digit group separator (`,` in US English) to be determined by Excel when the document is opened. Can this be implemented in this project?

[2016-03-10 09:20] natergj commented on #71
This should all be handled by the system language settings. Changing those is different on each operating system, but on my Mac, the following code will display the attached when running the computer with French set at the default language (after a restart to apply the change system wide). The three parts of the string that Format accepts correspond to how positive numbers should be displayed; how

[2016-03-10 14:59] bblack commented on #71
Great! I wrongly assumed that the `,` meant a literal comma. I've opened #72 to link to that doc from the readme.

[2016-03-10 14:59] #71 closed

[2016-03-31 06:57] bhuvanaurora opened #75 "Parsing fails when string contains emojis"

[2016-04-17 01:21] natergj commented on #43
write function will callback now returns an fs.Stats object when file generation is complete

[2016-04-17 01:21] #43 closed

[2016-04-21 12:39] natergj opened #77 "Styles with borders where outline option is true is not respecting outline only"
XML tag appears to be ignored by Excel

[2016-04-21 15:36] natergj commented on #77
fixed with merge request 78

[2016-04-21 15:36] #77 closed

[2016-04-25 00:02] watson-aa opened #79 "Date & time formatting"
How can I format a column so date and time are show (mm/dd/yyyy HH:MM)?

Currently, `ws.cell(1,1).date(new Date())` only displays the date, until I manually format the cell in Excel to show the time.

[2016-04-25 12:54] natergj commented on #79
Dates and times can be formatted in two ways.  You can set a default date/time format that will be used across the entire workbook, or since dates are stored as numbers in Excel, you can specify date styles using the numberFormat attribute of the style methods.  See example in https://gist.github.com/natergj/eb026d5dfd75880841da885bd7467c2d#file-excel4node-dates

Thanks for the question. It lets m

[2016-04-25 12:57] natergj commented on #79
README has also been now updated to include date formatting options.

[2016-04-25 12:57] #79 closed

[2016-05-02 16:06] absarora opened #80 "not able to style the worksheet"
"TypeError: wb.createStyle is not a function"
[code]

[2016-05-02 17:48] natergj commented on #80
Make sure you're using the right version of the docs for the version of excel4node you've downloaded.  There were API breakages from the 0.x.x to 1.x.x version.  There is a version0.4.1 branch on github with the old docs or the README that was downloaded with the library will have them as well.  If it is an option, you should definitely consider using the 1.x.x version as it is considerably faster

[2016-05-02 17:48] #80 closed

[2016-05-03 20:38] romanmt opened #81 "Not displaying images in excel. Works fine in Numbers."
Hi, I recently upgraded from v0.5.1 to v1.0.3. When I open my spreadsheet in excel the images don't display. I get the following error displayed where the image should be.

![image](https://cloud.githubusercontent.com/assets/218539/14997193/67894cb0-114b-11e6-8100-ed022090f694.png)

Interestingly, this problem does not occur when viewing the file in Numbers and Libre Office.

Here's my code:
[code

[2016-05-03 23:56] natergj commented on #81
Would it be possible to attach generated xlsx file to the issue? I'd like to inspect the xml to see if something didn't write correctly. Could you also let me know the version of both excel and Mac OS in case I need to try to replicate?

[2016-05-04 01:25] romanmt commented on #81
Thanks for the response.

I've attached the file. I'll have to let you know the versions tomorrow. I don't have access to those machines at the moment.

[Lil' Boosie - 5_Ticket_Counts-5-3-2016_2.xlsx](https://github.com/natergj/excel4node/files/248042/Lil.Boosie.-.5_Ticket_Counts-5-3-2016_2.xlsx)

[2016-05-04 14:02] romanmt commented on #81
Versions:
Office Excel 2007 : Windows 2010
Excel for mac 2011 14.5.2 : OSX Yosemite
Excel for mac 2011 14.2.3 : OSX Yosemite

[2016-05-04 17:45] romanmt commented on #81
@natergj Thanks for your help. I looked at the xslx file contents and saw what was causing the problem. For the record, my image file was being inserted without a file extension. For some reason, numbers didn't have a problem with this, but Excel did. After adding the file extension it worked fine.

Thanks, Matt.

[2016-05-04 17:45] #81 closed

[2016-05-05 15:20] bobweil opened #82 "Large workbook causes maximum call stack size to be exceeded"
excel4node version 1.0.3, node v4.3.0

I have a service that runs a database report with 39 columns and outputs a workbook with the report contents.  With 9500 rows, all is well.  At 10,000 rows, I get the following:

RangeError: Maximum call stack size exceeded
    at String.match (native)
    at XMLStringifier.module.exports.XMLStringifier.assertLegalChar (C:\xxx\xxx\xxx\xxx\node_modules\excel4n

[2016-05-05 16:31] bobweil commented on #82
I'm a relative novice at javascript, but it looks to me like _addSheetData(promiseObj) could be changed to use iteration instead of recursion and that might solve the problem.

[2016-05-05 16:57] natergj commented on #82
I just published v1.0.4 which should fix this issue. I set that function to process 500 rows at a time rather than 1. The reason I do it this way rather than with a simple loop is to not block processing of other tasks. For instance if you have an API running on a single process and try to generate a very large workbook then processing that many rows would cause the API to become unresponsive whil

[2016-05-05 16:57] #82 closed

[2016-05-16 18:28] bobweil opened #83 "Large workbook causes 'process out of memory error'"
Hi.  If I try to write a workbook 46 columns wide and more than 20,000 rows, I get the following from node, which crashes:

<--- Last few GCs --->

 1077040 ms: Scavenge 1392.1 (1456.1) -> 1392.1 (1456.1) MB, 1.3 / 0 ms (+ 31.0 ms in 1 steps since last GC) [allocation failure] [incremental marking delaying mark-sweep].
 1078584 ms: Mark-sweep 1392.1 (1456.1) -> 1390.3 (1456.1) MB, 1548.9 / 0 ms (+

[2016-05-23 08:38] patrickkeller opened #84 "Excel 2013 crashes on printing generated Workbooks"
If we try to print a workbook generated with excel4node >= 1.x, Excel 2013 crashes. If the workbook is saved from inside Excel to another location everything works fine. Libreoffice seems to work fine too. Maybe this happens with other Excel versions?

Any advice on this? Thanks.

[2016-05-23 13:03] natergj commented on #84
this should be resolved with version 1.0.5.

There is a part of workbook.xml that should be optional, but it was missing and it looks like excel 2013 didn't like that.  Printing was working fine on my Mac as well.  I've manually set this sections with the defaults and it appears to have resolve the print issues.

[2016-05-23 13:03] #84 closed

[2016-05-23 13:12] natergj commented on #83
I had a little time to look at this this weekend. It looks like the process of turning the worksheet data from the internal excel4node object into the xml string fills up the memory.   It looks like both the xmlbuilder library and the jszip library support nodejs streams, but unless I'm missing something, the jszip library only supports read streams where it can pull data from, not read streams th

[2016-05-23 13:35] patrickkeller commented on #84
Problem solved. Thank you!

[2016-05-23 14:38] bobweil commented on #83
Thanks for the update.  I did not try breaking to a new workbook, just a new worksheet.  I'll experiment a bit more.

[2016-05-28 15:11] chlsmiad opened #85 "access a excel file instead of opening a new excel file"
hi i want to ask can I edit a current workbook instead of exporting a new excel file using this library? For example, handle merge cells in files already have values inside. THanks

[2016-05-28 15:12] chlsmiad commented on #17
hi i want to load existing file also!!

[2016-05-28 15:14] chlsmiad commented on #65
yes, i want to know how to read the excel file? I want it really

[2016-06-05 07:07] vkawadia opened #86 "excel4node not installing via npm"
trying to install the excel4node via npm using command `npm install excel4node` but it gives 503 (not in Flight'

[2016-06-06 18:15] chrishakai opened #87 "Bug: showDropDown: true is not working"
In excel for mac, the validation dropdown is not appearing.

I am using the Basic Usage example with the first data validation example.

I have tested on:
* Mac node v4.4.1
* Ubuntu node v4.4.0
* Ubuntu node v6.2.1

Excel 2011 for Mac v14.4.2, I have not tested other versions of Excel.

Code and excel file generated: https://gist.github.com/chrishakai/b84f521c297ea42db07b3aabd5c86d8a

[2016-06-07 01:09] natergj commented on #87
This is an interesting one because the option seems backwards.  In Excel for Mac if you create a data validation list and un-check the "In-cell dropdown" option, the xml that gets written will include showDropDown="1" as an attribute to the dataValidation element.  To me, this seems like backwards behavior. I would expect the output xml to include showDropDown="1" if the "In-cell dropdown" option

[2016-06-07 01:12] natergj commented on #86
I'm unable to replicate this issue. could you copy and paste the contents of the npm-debug.log file that gets written to a github gist and paste the link here?

[2016-06-07 04:38] vkawadia commented on #86
Thanks for the reply.
I tried again today and it got installed. there would be some problem with my network

[2016-06-07 04:38] #86 closed

[2016-06-07 12:37] natergj opened #88 "WB default font not respected all of the time"
When a default font is specified for a workbook and then a style is created with only some of the attributes of the default font, the remaining attributes reverted to Excel defaults.

[2016-06-07 12:42] natergj commented on #88
fixed with release 1.0.6

[2016-06-07 12:42] #88 closed

[2016-06-07 12:43] natergj commented on #87
Excel for Windows does the same thing.
I just published version 1.0.6 which set sets the behavior to mimic the Excel application UI.

[2016-06-07 12:43] #87 closed

[2016-06-07 13:55] chrishakai commented on #87
@natergj Thank you for your fast response. I am excited that I found your library, it is much easier to implement than others.

[2016-06-07 18:03] chrishakai opened #89 "Bug: javascript date is 1 hour behind"
When I write dates in javascript to the excel file it seems to be 1 hour behind now.

`ws.cell(1, 1).date(new Date());`
`ws.cell(1, 2).formula('NOW()');`

These return different dates. The code I am using and the output can be found at: https://gist.github.com/chrishakai/8f7b0b8bee37a06dbc157ec873dd11a7

[2016-06-07 23:01] natergj commented on #89
I don't think I thanked you last time for your really good bug reports. The descriptions are clear and the code to reproduce the issues is great!
Anyways, I had forgotten to take daylight savings time into account when generating the Excel timestamp. This should be solved in version 1.0.7 which was just published.

[2016-06-07 23:01] #89 closed

[2016-06-07 23:36] chrishakai commented on #89
Thanks again for a speedy reply.

[2016-06-09 19:23] chrishakai opened #90 "Bug: validation errorTitle mispelling in type check"
In https://github.com/natergj/excel4node/blob/master/source/lib/worksheet/classes/dataValidation.js#L53

On line 53 `opts.errorStyle` should read `opts.errorTitle` for the check on errorTitle

[2016-06-10 21:24] natergj commented on #90
Thanks, again @chrishakai!
Issue fixed and included in release 1.0.8

[2016-06-10 21:24] #90 closed

[2016-06-22 12:20] bursache commented on #83
Hi. I'm having a similar issue when trying to write a workbook with multiple worksheets and some hundred of rows per worksheet.

<--- Last few GCs --->

  192661 ms: Mark-sweep 1392.4 (1455.2) -> 1392.4 (1455.2) MB, 1404.8 / 0 ms [allocation failure] [GC in old space requested].
  194048 ms: Mark-sweep 1392.4 (1455.2) -> 1392.4 (1455.2) MB, 1386.6 / 0 ms [allocation failure] [GC in old space reque

[2016-07-10 17:02] natergj commented on #83
I switched out the xmlbuilder method used to build the worksheet xml. I tested it with 50 columns and 30000 rows and it was able to complete without memory issues after the change. I just published version 1.1.2 which includes these fixed and a couple other efficiency improvements.

[2016-07-10 23:24] bobweil commented on #83
Great!  I'll be trying this early this week.  Awesome module!

[2016-07-10 23:24] #83 closed

[2016-07-22 15:03] kylepixel opened #92 "Column.setWidth(w) seems to set the actual width to w - 1"
The Excel sheet generated by my program using excel4node has actual column width values 1 less than what I tried to set them to in my JS code.

[2016-07-27 07:43] JWo1F opened #93 "Remove *Sync functions from project"
Hi! Thanks for the project! I was surprised when I saw the project uses sync functions. It's very bad, really.

For example:
https://github.com/natergj/excel4node/blob/master/source/lib/types/index.js#L3
https://github.com/natergj/excel4node/blob/master/source/lib/workbook/mediaCollection.js#L9
https://github.com/natergj/excel4node/blob/master/source/lib/workbook/builder.js#L408

Please, fix it!

[2016-07-28 01:47] jiacai2050 commented on #41
`Password to open` is still missing ?

[2016-08-17 00:10] chrishakai opened #94 "Validation not working for multiple columns"
When I do validation for multiple columns the first one works but the second one does not.

Looking at the excel xml, the validations seem to be nested when I would expect them to be separate...

[code]

See https://gist.github.com/chrishakai/b42e366c048c427ef25e21a849732f29

[2016-08-17 21:04] JemiloII opened #95 "How would I auto size a cell width to expand to show all the cell's content?"
I can't seem to find the option for this. I see things similar to it, but its not it exactly and its api isn't documented well.

[2016-08-19 16:54] JemiloII opened #96 "How do I hide the gridlines?"
How do I hide the gridlines?

[2016-08-19 20:37] JemiloII commented on #28
Has this been lost?

[2016-08-19 20:48] JemiloII commented on #93
Lol you're worried about sync functions? I'd be more worried about the human minification of node.js code with single letter variables and property names.

[2016-08-19 22:27] chrishakai commented on #95
I agree, this would be a good feature, especially for row height when wrapText is true.

[2016-08-21 22:37] surjikal opened #97 "High row count causes excel errors"
I am rendering a spreadsheet where if the row count exceeds 16105, excel complains about an issue with sheet1.xml. After dismissing the repair dialog, the spreadsheet looks fine.

I did some digging and found that the culprit was the `spans` attribute of the `row` object. It gets incremented on every row, and I guess it's hitting some sort of excel limit.

This reproduces the issue:

[code]

It is

[2016-08-22 14:04] JemiloII commented on #96
Setting border to none, does not hide the borders for me.

[2016-08-25 09:29] silveryiris opened #98 "Adding support for loading images from an url?"
I wish I could direct add the images to xlsx from an url.

For example :

[code]

[2016-09-08 14:01] TRex22 commented on #28
... I haven't  had time to work on my library and therefore add to excel4node .... Im planning on using it for a system Im building, just quite busy the next few months

[2016-09-13 15:17] bobweil commented on #97
I believe I'm encountering this as well.  My output file is 20000+ rows.  Accepting the repair makes the workbook ok.
`<repairedRecord>Repaired Records: Cell information from /xl/worksheets/sheet1.xml part</repairedRecord>`

I write the workbook like this:

`wb.write(reportOutputPath + outputFilename);`

[2016-09-13 19:15] surjikal commented on #97
@bobweil Yeah just to confirm, I removed the "spans" attribute as a workaround. Things are working great now, excel no longer complains.

[2016-09-14 12:52] amekkawi commented on #97
Thanks for the link and research into the attribute. The Row object in excell4node does seem to always include "spans" which is not ideal. I'm looking into its behavior a bit more but this is definitely an issue that should be fixed.

[2016-09-14 13:13] amekkawi commented on #75
Can you provide a gist that reproduces this issue? Thanks!

[2016-09-14 20:29] amekkawi commented on #94
Thanks for the gist. I'll also look into why the pageMargins element is in there as well

[2016-09-16 15:09] manuschiller opened #101 "Merge two sheets into one Workbook"
Hi!
Is it possible to merge two or more sheets into one workbook?

[2016-09-19 13:14] debrsky opened #102 "Add support for PageSetup.PrintTitleRows"
Could you please add support for this useful property

[2016-10-03 11:33] amou1012 opened #104 "Expection for ws.addImage"
I use this package at a meteor project and I write codes at the serer side.
And it shows an exception when I use ws.addImage():

**TypeError: Object [object Object] has no method 'accessSync'**
at MediaCollection.add
(/home/kevin/Project/node_modules/excel4node/distribution/lib/workbook/mediaCollection.js:19:16)
 at Worksheet.addImage
(/home/kevin/Project/node_modules/excel4node/distribution/lib/w

[2016-10-13 11:39] Atoile opened #105 "Image resizing"
Is it possible to resize inserted images? I've seen Issue #58 that added ability to resize images, but it doesn't seems to work now

[2016-10-13 13:27] constantlahousse opened #106 "URL problem with .link()"
Hello, I encountered an issue when using .link().

For example, if I use :
`ws.cell(r, c++).link('http://mylink.com', 'My link', 'My link');`, the hypertext link will be http://mylink.com/#http://mylink.com
A pound/hash is automatically added.

It seems to cause trouble on older browser version...

Any idea to have only one URL?

[2016-10-25 13:30] geoffdev6 opened #107 "Scrolling disabled after freezing rows"
After freezing the first 5 rows like this: `ws.row(5).freeze();` it seems that I am not able to scroll the spreadsheet with my trackpad or mouse. Scrolling still works if you click and drag the side scroll bar.

[2016-10-25 18:05] chrishakai commented on #94
Hi there, I am wondering if there any updates to this? I would really like to get validations added to our spreadsheets. Thanks again for an awesome tool!

[2016-11-14 17:03] fareshan opened #110 "addImage from base64url"
Is it possible to add image from a base64url or buffer ?

[2016-11-14 20:25] GaabZ commented on #102
That would be really nice :)

[2016-11-16 16:08] fmaronnaud commented on #8
Hello,

I was wondering if this functionality has been actually implemented and if it has how it is working? I can't find it in the documentation.

Thank you

[2016-11-22 09:58] fareshan commented on #106
I have the same issue.

[2016-11-24 10:24] ilijaveselica opened #111 "Formula not working"
Formula doesn't work. It's printed in the formula field but it's not applied.

[code]

I've tried few Excel packages and all have the same issue so far.

[2016-11-27 22:17] absarora opened #112 "filter() filters last row regardless of range selected"
filter() function filters the last row regardless of the range selected.

Is there a way to create a table, yet?

The article at the link below mentions that I would have to create a table and add a 'total row' to avoid the last row from being filtered.
https://www.extendoffice.com/documents/excel/4055-excel-filter-exclude-bottom-row.html

Any suggestions?

[2016-11-28 21:07] absarora opened #113 "Excel no longer opens maximized"
I was previously using version 1.0.3 and .xlsx files were opening great (maximized) but as I updated to version 1.2.1, Excel files are no longer maximized when opened.

Is there a setting I can adjust to fix this? I would appreciate your response.

Thank you!

Also, if there is any way I can contribute towards this library, I would love to.

[2016-11-29 02:29] absarora commented on #112
I was able to get around this problem by hiding a row before the last row but I would appreciate your 2 cents if you know of a better solution.

Best,
Ajay

[2016-11-29 21:16] absarora commented on #111
I second that. I am working with conditional formatting and the formula does not work:

    ws.addConditionalFormattingRule('A2:Q8', {
      type: 'expression',
      priority: 1,
      formula: 'MOD(ROW(),2)',
      style: evenRows
    });

[2016-11-29 21:34] absarora commented on #111
ilijaveselica: I just tried your code above without the styles and it seems to be working just fine.

[2016-11-30 19:25] silveirado commented on #17
+1

[2016-12-06 20:23] jac0117 commented on #106
I'm having the same issue. Would you allow me to fix it and create a pull request? Just asking before I spend the time looking into it.

[2016-12-09 08:54] Tpona opened #114 "Can i use it in frontend?"
Hi, amekkawi!

can i use excel4node in frontend?

[2016-12-13 08:34] gnatowski commented on #94
You have in dataValidation.js:
`  function  addToXMLele(ele) {
        let valsEle = ele.ele('dataValidations').att('count', this.length);
        this.items.forEach((val) => {
            val.addToXMLele(valsEle);
        });
        valsEle.up();
    }`
It must be:
`function addToXMLele(ele) {
            var valsEle = ele.ele('dataValidations'); //.att('count', this.length);
            this.it

[2016-12-22 16:46] spyshow commented on #110
did you find a way for this ??

[2016-12-22 16:50] fareshan commented on #110
i did not
i actually abandoned adding images because it can make huge files
i use links instead

[2016-12-22 17:34] spyshow opened #116 "base64 images"
Hii all

is there any way to add an base64 string images rather than giving the path to it ???

[2016-12-27 18:30] jac0117 commented on #113
It seems this project hasn't gotten any support in the last few months. Are you guys planning on abandoning the project? It would be nice to know so we know whether we should continue using it or look for an alternative.

[2017-01-20 19:08] stguitar commented on #96
@JemiloII did you figure this out?

[2017-01-20 19:41] stguitar commented on #96
@JemiloII actually, i think im gonna create a fork for this.. one quick/dirty way would be to make the border color white ;)

[2017-01-20 20:43] stguitar commented on #96
@JemiloII FYI... PR -> #117

[2017-01-26 17:55] petergombos commented on #107
Same here, excel for mac 2011

[2017-02-01 12:18] kadzik opened #118 "Cell value getter"
Is there any way to get cell value, like ex.  ws.cell(1, 1).getValue()?

[2017-02-10 14:57] pyseed opened #120 "one picture worsheet 1, other picture worksheet 2, [Content_Types].xml ContentType image/jpg duplicates that issues excel parser"
Hi. 1st thank you very much for your very helpfull lib.

Usecase:
- add a picture to 1st worsheet
- create a second worksheet
- add a picture to 2nd worksheet
- open the file in excel online KO (ok in libre office or google doc)
- extract xlsx file
- open [Content_Types].xml
- there is 2 nodes Default ContentType image/jpg that issues excel parser
- if you remove one node, compress again xlsx, exc

[2017-02-10 15:52] pyseed commented on #120
var extensionAdded should have same scope as contentTypesAdded (for all worksheets)

[2017-02-20 09:37] kdekooter opened #122 "Replace sloth-logger with a less invasive logger"
`sloth-logger` is pulling in an insane list of dependencies (see below). It would be nice to have a leaner logger included.

[code]

[2017-02-21 14:17] buntythakkar opened #123 "excel opens "problem in some content" popup if an image is inserted."
![image](https://cloud.githubusercontent.com/assets/11338337/23168434/2633a318-f86e-11e6-88b3-2a23a5cb9183.png)

I have used **ws.addImage** function to add an image in the excel sheet.
When i open the excel workbook, it shows me the mentioned warning.
If i accept the warning, the image gets displayed on the sheet, but i cannot get rid of this warning popup

If i comment out the **ws.addImage** fu

[2017-02-23 11:38] calumk opened #124 ".number() .formula() dont work"
Using .number() or .formula() dont work correctly.

eg .number(5.0) will put the string "5.0" into the cell, but it wont be a number formatted cell.

eg .formula(###) will put the forumla into the cell, but it wont be a formula formatted cell, so you need to open excel, then click the cell, and press "enter" for it to recognise it as a formula manually.

Using OSX El Capitain

[2017-02-23 11:47] calumk commented on #111
I am having the same issue - without styles

[2017-02-23 11:49] calumk commented on #113
Also having this issue

[2017-02-23 18:32] calumk commented on #124
Quick fix for this is to use a style that forces number format.
`var num = wb.createStyle({ numberFormat: '0.00' });`

then use as:
`ws.cell(1,1).number(10.00).style(num);`

[2017-02-24 10:34] syriuszp commented on #123
hi @buntythakkar I had the same problem since a while. No countermeasure. Have manage that issue with any countermeasure. Appreciate any advice .

[2017-02-24 11:22] buntythakkar commented on #123
@syriuszp i found a problem where if you insert picture with same extension (jpg or png or etc) in more than 1 worksheet, excel is showing the warning popup. But if pictures with different extensions are added, no warning pops up.

[2017-02-24 13:30] syriuszp commented on #123
@buntythakkar thank you for you support. I have found following in PR #99  which is solving problem definetely. Unfortunatenly the PR is not merged. Seems there is no maintenance on this library :-(
However required changes is trival see details in #99. Again thanks for your reply and support.

[2017-02-24 14:12] buntythakkar commented on #123
@syriuszp Hey thanks, I saw the #121 and found the solution. Its the same solution mentioned in #99

[2017-02-28 04:21] valeeum commented on #97
I'm having the same issue.  Are there any plans to push the fix @surjikal mentioned above to the main branch?

[2017-03-02 12:42] andresgariglio commented on #112
Hi, same problem here, anyone have any updates on this? cc @absarora

[2017-03-11 01:30] tokmakoff commented on #28
Maybe this charts project can be integrated? [https://github.com/objectum/xlsx-chart](url)
It uses graph templates and inserts user data as required.

[2017-03-15 21:35] NilEsteveSerra opened #126 "how can I put a bgcolor"
it was like putting bgcolor

[2017-03-17 18:53] shaunc opened #127 "(feature request) row and column styles"
I believe the underlying format supports default styles for the rows and columns -- for instance apache POI supports. This would be quite useful ... eg for grey areas around tables without having to create all the cells....

[2017-03-24 17:26] JemiloII commented on #96
@stguitar awesome thanks :)

[2017-03-27 13:53] andrewminton commented on #95
Any more development on this? A Cell AutoFit parameter would be great. I'm sure the previous repo had something similar to this.

[2017-04-04 20:34] darinburris opened #128 "Dynamically designate cell parameters"
Is there a way to dynamically set cell method parameters?

For example, if I wanted to set the startRow or startColumn using a for loop index?

Doing so for me results in a corrupted file.

~Cheers

[2017-04-07 13:30] vbugrin commented on #106
please update release in npm

[2017-04-09 03:38] shaunc opened #129 "Write error values in cells."
I want to write a cell with value `#num`. `cell.number(Number('Infinity'))`(and the like) don't seem to work. Any other suggestions? How does xlsx store error values?

[2017-04-19 14:47] nytsua commented on #106
Is there an eta on when there will be a new release in npm with this fix soon?

[2017-05-02 15:10] crbonilha commented on #106
I'm waiting for the correction as well.

In case any of you (such as me) need a temporary fix, this is what worked for me:
https://github.com/crbonilha/codes/blob/master/others/excel4node_fix.js

Just place this file in some folder in your project, and instead of requiring 'excel4node', require this file ('excel4node_fix'):
`var excel4node = require('./excel4node_fix'); // assuming it is on the sa

[2017-05-07 08:51] ddimka opened #130 "Problem with created Excel file"
Hi.

I have a problem with created by excel4node Excel file.
I can open it with Microsoft Excel. But can't use it with other node js moduls. Getting errors.

But then I open in MS Excel and do even small change (enter space) and save it, It's works.
May be you have some suggestions?

Thanks.

[2017-05-08 01:28] perfunc commented on #130
@ddimka if the file works with excel but not with other nodejs modules, it's probably a bug with those modules

[2017-05-08 02:46] ddimka commented on #130
Hi. If i taking other Excel files, not creating with node4excel, it's works..

[2017-05-10 13:27] mhouchin commented on #97
+1

[2017-05-11 06:56] harishmohanani commented on #23
Any updates on this?
Have you guys worked on this

[2017-05-16 14:07] nytsua commented on #106
Is there any plan to continue working on this project? Are you looking for contributors?

[2017-05-22 10:14] amit-coditas commented on #95
any workaround for this?

[2017-05-23 19:00] adarshlilha opened #131 "Can data be added to existing excel files?"
I need to add data to an already existing excel file. Can this be done using this package?

[2017-05-27 11:47] pravosleva commented on #58
Hello!
ws.Image is not a function. What I have to do?

[2017-06-09 12:39] michelbb commented on #126
That' how I did it in my app:

[code]

Hope this helps.

[2017-06-22 10:27] Bhawnananda commented on #41
Can we lock/unlock selected cells. I want to protect entire sheet except few columns should be editable

[2017-06-23 16:52] valeeum opened #133 "Sloth Logger Dependency Warning"
warning excel4node > sloth-logger > nodemailer@2.7.2: All versions below 4.0.1 of Nodemailer are deprecated. See https://nodemailer.com/status/

[2017-06-27 07:07] adityamajeti opened #134 "Ceiling is not working with formula"
Hi,

my formula
var basicFromula = '(T'+i +' / AM'+i +' ) * AO'+i;   -- its working fine
when i tried with CEILING its not working
var basicFromula = 'CEILING((T'+i +' / AM'+i +' ) * AO'+i +')';   -- its not working
it shows some formate error if i use same formula in direct excel its woring fine while using in our excel for node it converted to   "CEILING.XCL((T3+AM3) * AO3)"

i didn't what is .X

[2017-06-28 08:48] PearceDuan opened #135 "how to set an internal hyperlink"
Can I use the `.link()`function link to another sheet? how?Thanks

[2017-06-29 21:53] alandoyle95 commented on #17
+1

[2017-07-04 07:34] Prem-Anand-Topno opened #136 "Sending excel file to web client not working"

[2017-07-19 09:31] uikoo9 opened #137 "unsupport chinese filename?"
hi

excel4node unsupport chinese filename?

like

wb.write(escape('测试.xlsx'), res);

console log err

![default](https://user-images.githubusercontent.com/10345351/28360459-0f61d3d6-6ca8-11e7-97b7-20993ef0a6ff.png)

[2017-07-19 09:53] uikoo9 commented on #137
//                            handler.writeHead(200, {
//                                'Content-Length': buffer.length,
//                                'Content-Type': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
//                                'Content-Disposition': 'attachment; filename="' + fileName + '"'
//                            });

[2017-07-19 09:53] #137 closed

[2017-08-25 08:48] 271bibi commented on #131
I am having the same question here.. any ideas?

[2017-09-01 08:48] SunboX opened #139 "Error: TypeError: Cannot read property 'toUpperCase' of undefined"
[code]

[2017-09-08 15:58] SlowburnAZ opened #140 "Excel files generated by excel4node always showing a warning/error upon opening"
Every Excel file that I generate shows a warning/error when opening:

![image](https://user-images.githubusercontent.com/5659169/30220221-78b6355a-9473-11e7-90b0-c93ffa7c87a7.png)

Excel version from Office 2016.

My Excel files do not not have any images, so I'm guessing that the fix proposed in pull request 99 (https://github.com/amekkawi/excel4node/pull/99) won't apply, but I've tried that anyw

[2017-09-18 13:58] SlowburnAZ commented on #140
Anyone?

[2017-10-04 18:20] SlowburnAZ commented on #140
So, it appears that this problem will occur if your sheet name is longer than 31 characters.

[2017-10-18 17:06] deepsoul commented on #111
I am having the same issue - after clicking in the row the formula works - but initially #NAME? will be displayed

[2017-10-20 18:42] yogeshwar607 opened #144 ".cell().string() not accepting null"
.cell().string(null) - throwing error , should accept null.

[2017-10-24 18:24] dangear commented on #140
You need to create new Workbook every time when you generate new file:
`var wb = new xl.Workbook();`

[2017-10-30 20:54] tm2josep opened #145 "Promise error"
I've copied the example code, here:

<code>
 var xl = require('excel4node');

            // Create a new instance of a Workbook class
            var wb = new xl.Workbook();

            // Add Worksheets to the workbook
            var ws = wb.addWorksheet('Sheet 1');
            var ws2 = wb.addWorksheet('Sheet 2');

            // Create a reusable style
            var style = wb.createStyle(

[2017-11-01 14:15] GlennGeenen commented on #122
We made a fork that removes sloth-logger and you can plug your own logger: https://github.com/GeenenTijd/excel4node. I'll make a PR if the author approves.

[2017-11-01 14:15] GlennGeenen commented on #133
We made a fork that removes sloth-logger and you can plug your own logger: https://github.com/GeenenTijd/excel4node. I'll make a PR if the author approves.

[2017-11-08 18:57] SunilPatel2 commented on #94
Why this code is not in current master branch.

[2017-11-08 23:32] natergj commented on #94
@SunilPatel2, sorry for the delays on handling PRs and issues. I had written this module while working at a previous employer while leading software development for a project that required the functionality. Once I left that employer in July 2016, my hopes were that my old employer would be able to continue maintenance of the module. Sadly, that did not happen. I asked for the repo to be transferr

[2017-11-10 22:45] mbugbee commented on #113
still an issue.

[2017-11-12 21:09] natergj commented on #94
validation issues have been fixed in commit [ff629a225335dc784933c06aabd20ddca5fcdbef](https://github.com/natergj/excel4node/commit/ff629a225335dc784933c06aabd20ddca5fcdbef)

[2017-11-12 21:09] #94 closed

[2017-11-12 21:13] natergj commented on #113
@absarora Sorry for the delays on this. Please see my comment in [this issue](https://github.com/natergj/excel4node/issues/94#issuecomment-342997169)
I'll be lookin at this issue today and hopefully get it into the 1.3.0 release. Now that I'm back on the project, please feel free to submit PRs for any bug or enhancement that you have. I'll be watching out for them and am hoping to do a lot of clea

[2017-11-12 22:10] natergj commented on #113
I've added the ability to set the workbookViews options in commit [1c4a7bf990160b47ad8e0f49c00a536dca7ab672](https://github.com/natergj/excel4node/commit/1c4a7bf990160b47ad8e0f49c00a536dca7ab672)
If no options are set, it will default to the view options for whatever application you are viewing the excel file with.

[2017-11-12 22:10] #113 closed

[2017-11-12 22:20] natergj commented on #144
could you explain what you believe the expected behavior should be? Do you believe the cell should display as an empty cell or as the string 'null'?

[2017-11-12 22:23] natergj commented on #145
which version of node are you using? it sounds like you might be using something prior to Node 4 without native promise support.

[2017-11-12 23:50] natergj commented on #133
@GlennGeenen could you set up a PR for this? I'll roll it into the next release

[2017-11-13 16:08] mbugbee commented on #113
much appreciated @natergj!

[2017-11-15 11:21] Greenns opened #147 "Style not working properly in addConditionalFormattingRule"
Hi,

BackgroundColor not working with `addConditionalFormattingRule()` but other style options work fine.

See gist : https://gist.github.com/Greenns/2c323fb366f84f577a60bb115871c063

For the same style:
_first cell with `addConditionalFormattingRule()` and the second with `cell().style()`:_

![](http://pics.greenns.me/xbRmBG5tC.png)

Excel xml file does not have the bgcolor, only the font color i

[2017-11-16 10:16] AurelienRibon opened #148 "`workbook.write` throws instead of calling callback"
Function `workbook.write` ends with these lines:
https://github.com/natergj/excel4node/blob/1c4a7bf990160b47ad8e0f49c00a536dca7ab672/source/lib/workbook/workbook.js#L194-L196

Since we are inside a promise rejection, it means this error thrown will never be caught by anyone, which just crashes nodejs with an `UnhandledPromiseRejectionWarning`.

The solution is to call the callback if it was provid

[2017-11-17 01:41] natergj commented on #148
I'm planning on re-working the whole error handling in the next major version which I'm working on this winter. As a temporary solution, you could wrap the `workbook.write()` call in a try/catch block and log out the stack that is thrown. I'd rather not simply call `console.error()` in the module. I want to make sure that anyone who uses the module has the ability to be informed when an error occu

[2017-11-17 01:51] natergj commented on #140
It looks like the 31 character limit is a hard coded limitation into MS Excel. There is nothing that I can find in the XLSX spec about this limitation, however. I'll see about adding some validation and possibly providing a warning/error when attempting to create a worksheet with a name longer than 31 characters.

[2017-11-17 01:54] natergj commented on #139
could you provide a gist of a file that causes this error? Following that stack trace, I can't think of a situation that where this error might have occurred.

[2017-11-17 01:55] natergj commented on #136
closing issue. If this is still a problem, please include some sort of description or gist on how you ran into the issue.  There isn't much I can do on just this title.

[2017-11-17 01:55] #136 closed

[2017-11-17 13:52] AurelienRibon commented on #148
This is not as simple, users cannot workaround the current issue by using a try/catch around `workbook.write`. The `throw new Error(err.stack)` you do at line 195 is done inside a promise catch clause. When this clause is called, you are outside the initial event loop that was used to call `workbook.write`, so the try/catch was already exited, the error is really lost and will crash the server.

A

[2017-11-17 17:37] natergj commented on #148
oh, right.  I'll change this to a bug and get a fix put into the next patch release

[2017-11-17 17:50] AurelienRibon commented on #148
Awesome, thanks a lot !

[2017-11-18 05:46] mukesh8511 opened #149 "On opening the excel it gives error 'Excel found unreadable content in Excel.xlsx....'"
I created an excel from Json data and I have added the datavalidation with formula in it like `sheet1.addDataValidation({
        type: 'list',
        allowBlank: true,
        showDropDown: true,
        sqref: 'B5:B14',
        formulas: [
            '=$M$2:$M$3'
        ]
    });`

Excel get generated in my project folder but when I open it, I get popup message as

Need some help in resolving

[2017-11-18 17:04] hastom commented on #139
This error happens if you try to write workbook with added 0-based cell like this
wb = new Workbook();
ws = wb.addWorksheet('test');
ws.cell(0,0).string('tst');
wb.save('test.xlsx');

Just fixed it in my project. Hope it helps

[2017-11-25 20:22] natergj commented on #148
Fix has now been pushed to NPM with version 1.3.1

[2017-11-25 20:22] #148 closed

[2017-11-25 20:23] natergj commented on #106
Fix has now been pushed to NPM with version 1.3.1

[2017-11-25 20:23] #106 closed

[2017-11-25 20:26] natergj commented on #147
Fix has now been pushed to NPM with version 1.3.1

I did also need to make an update to the README. It looks like bgColor is required for conditional format fills.  in your gist, you'll need to add that as the same color as your fgColor

[code]

becomes
[code]

[2017-11-25 20:26] #147 closed

[2017-11-25 20:36] natergj commented on #149
@mukesh8511 I don't have Excel 2007 and this data validation is working fine on the latest version of Excel for Mac which I am running.
Could you create a gist that can be run to demonstrate the issue ([example gist](https://gist.github.com/Greenns/2c323fb366f84f577a60bb115871c063))
If you could attach the "fixed" version that Excel 2007 gave you, that might help me track down the cause, too.

[2017-11-25 21:05] natergj commented on #135
I'll need to make some updates to allow the `.link()` to be used for internal hyperlinks. But in the meantime, you can use the `.formula()` to do the same thing.

https://support.office.com/en-us/article/HYPERLINK-function-333c7ce6-c5ae-4164-9c47-7de9b76f577f

[code]

[2017-11-25 21:10] natergj commented on #134
@adityamajeti,
I am unable to reproduce this issue. When I try with the CEILING function, all is well. Could you create a gist that can be run to show the issue (similar to [this gist](https://gist.github.com/Greenns/2c323fb366f84f577a60bb115871c063))

[2017-11-30 10:12] vivekoodles opened #151 "TypeError: builder.writeToBuffer(...).then(...).catch is not a function"
I am trying to create an excel file usining node4excel module but it's giving following error.
my code is
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #FF0000; background-color: #FFAAAA">`</span><span style="color: #008800; font-weight: bold">var</span>

[2017-11-30 12:26] natergj commented on #151
@vivekoodles, I am unable to reproduce this issue with the code you provided. Which version of Node and excel4node are you using?

[2017-11-30 12:51] vivekoodles commented on #151
node v8.7.0 and excel4node ^1.3.1   it's working fine if we run it individual but if i run this with my main application which is using express js  and mongoose  for backed it give this error.

[2017-11-30 12:58] natergj commented on #151
if you can write and send me a [gist](https://gist.github.com) that I can run to replicate the issue, I can look into the cause. But if there is no error when running stand alone, it's really difficult for me to determine what might be happening.

[2017-11-30 13:07] vivekoodles commented on #151
Following warning has come when i install it with my application.

npm install excel4node
npm WARN deprecated nodemailer@2.7.2: All versions below 4.0.1 of Nodemailer are deprecated. See https://nodemailer.com/status/
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.1.3 (node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.3: wanted

[2017-11-30 16:38] mbugbee opened #152 "Excel Crashing on Print"
The issues detailed in issue #84 seem to have popped up again.

Generated XLSX file crashes Excel when trying to print.  If I save the file to a new location the print succeeds.

excel4node: v. 1.3.1
Excel for Mac:  v. 15.40 (171108)

[2017-11-30 17:35] mbugbee commented on #152
Adding the 'workbookView' object into the Workbook configuration object allows the print to succeed.

[2017-11-30 23:26] #152 closed

[2017-11-30 23:34] natergj commented on #152
@mbugbee,
I'm glad you found a temporary workaround. Thanks for reporting the bug. version 1.3.2 was just published to npm which should permanently resolve this issue.

[2017-12-02 17:50] sagarsk15 opened #154 "Can i use excel4node for angular 4 application?"
I want to export a table data to excel with proper styling and formatting.

[2017-12-06 16:57] p3pp8 opened #155 "Date timezone error"
Hello, with latest version of the module cell dates are converted not considering the timezone, ie: worksheet.date(7:00+01:00) converts to 6:00. Any help is really appreciated, i'm using strings as a workaround.

Cheers

[2017-12-11 09:58] marcuzy commented on #154
I guess you can't use it in frontend due to node's dependencies. If you use node as backend you can of course. For instance:
1) Post your data to the special endpoint;
2) Generate xlsx;
3) Response with Buffer converted to string;
4) In frontend, convert response data to Blob;
5) Init downloading using URL.createObjectURL and related to it things.

Here example for frontend (typescript):
[code]

[2017-12-13 13:21] dangear opened #156 "promiseObj.wb.WorkSheet is not a function"
Have this error when need to save xls file
[code]

[code]

Node version is 9.3.0

[2017-12-14 11:02] Greenns opened #157 "can not add multiple Conditional Formatting Rule"
Hi,

When I use multiple time `addConditionalFormattingRule()` only the first call will work.

See gist : https://gist.github.com/Greenns/63256590f08f443f615d5a80a59ce472

![](http://pics.greenns.me/RWLDg7X)

**Excel.xml** _(there is only one rule)_
[code]

[2017-12-15 18:08] Greenns commented on #118
it will be very useful !

[2017-12-15 20:15] zubinAntuit commented on #41
Hi Bhawnananda did you ever find a solution for this

[2017-12-17 14:54] kolyambo commented on #131
I found also #17 so, it can't be done yet?

[2017-12-19 11:34] research-and-develop opened #158 "How to put cell comment"
Hello there,

first of all I want to say good job for the library, it's very intuitive.

Basically I want to generate a small excel file on a nodeJS server with a few sheets and 100-200 rows of data.

I need to insert comments for some of cells. I was digging in the code of the library but never found a way to add cell comment, so my question is is it possible to add cell comments and if yes how y

[2017-12-20 06:11] samdeesh commented on #127
I am also in favour of this.. It would be really helpful and avoid redundant styling

[2017-12-21 16:38] bioimage-cohen commented on #97
Hi,

Can you clarify how we use this fix so we can have worksheets with > 16k rows? E.g. for the example given above, setting ws.row(i).spansEnabled=false does not make the excel error go away?

Thanks!

[2017-12-21 17:37] surjikal commented on #97
I think I went through the code and removed the spans rendering manually. I don't remember exactly where the

[2017-12-30 11:20] ADITI1001 opened #159 "entering float value in excel using excel4node"
I want float values to reflect in excel sheets. There is no data type available for entering float values in excel4node.

[2018-01-07 18:34] DCtheTall commented on #158
This library writes xlsx files using XML, and currently cell comments are not supported by XML yet, but I read it's on the radar for future support.

[2018-01-09 10:23] research-and-develop commented on #158
@DCtheTall thanks for your comment.

I believe the library is implemented by [Standard ECMA-376 Office Open XML File Formats](http://www.ecma-international.org/publications/standards/Ecma-376.htm) and comments are available for sure.

I guess just this functionality is not implemented in the library yet.

Anyway once I have some free time I will try to implement the functionality by myself, if sti

[2018-01-10 12:08] amit-mn opened #160 "How to hide sheet"
Is there a way to hide sheet. like I have added multiple sheets and want to hide some sheets. Is there is any way to do this?

[2018-01-10 13:23] cesardmoro commented on #95
Any fix for this ?

[2018-01-11 06:30] amit-mn opened #161 "Adding data validation Error"
When I add data validation to worksheet then it is not generating a correct file and it shows repair option before open the excel file.

Below is the error message:
`<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<recoveryLog xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main"><logFileName>error090040_01.xml</logFileName><summary>Errors were detected in file 'D:\Amit_kumar\a

[2018-01-15 12:23] lerit commented on #95
expect this feature!

[2018-01-15 15:28] natergj commented on #159
you can use the `.number()` method to set a float value and use styling to display the number with as much decimal accuracy as you'd like. Examples of setting the number styling workbook wide is in the Basic Usage section of the README. https://github.com/natergj/excel4node#basic-usage

[2018-01-15 15:29] #159 closed

[2018-01-15 15:43] natergj commented on #161
@amit-mn
I am unable to reproduce this error. I am using the following. If you continue to see the issue, could you let me know which version of excel4node you have installed, which version of MS Excel you see the issue in and also provide a full gist for code that can reproduce the issue.

https://gist.github.com/natergj/585a6c7624678dc93abd9d6eba2b1b32

Since you are referencing the acceptable l

[2018-01-15 15:48] natergj commented on #95
This feature was brought up before in [Issue 23](https://github.com/natergj/excel4node/issues/23#issuecomment-71316618). The problem is that there is no "100%" width in the XML standard. The fix would basically be to add a rendering engine to the library and measure the width of the actual rendered text in the font/size that had been specified.  If anyone has another idea, I'd be very open to a pu

[2018-01-16 14:32] ADITI1001 commented on #159
Yes, I had figured this exact way to handle my issue as is suggested by
you,  a while ago. But thank you though for helping out.

On Jan 15, 2018 8:59 PM, "natergj" <notifications@github.com> wrote:

[2018-01-16 18:19] nbcnc opened #162 "Webpack: Cannot read property 'horizontal' of undefined"
FYI:  I copied and pasted the example into a Node/Electron application which is bundled with Webpack 3.0 and I get the following error:

Uncaught TypeError: Cannot read property 'horizontal' of undefined
    at Object../node_modules/excel4node/distribution/index.js (app.js:32061)
    at __webpack_require__ (app.js:680)
    at fn (app.js:90)
    at Object../src/modules/App/Spreadsheet/index.js (app

[2018-01-16 23:42] natergj commented on #162
versions 0.x and 1.x of the library are not compatible of running outside of a node process. I've begun work on v.2 which should remove this limitation.

[2018-01-17 13:09] nbcnc commented on #162
good to know.  thank you for working on v2!

[2018-01-17 13:09] #162 closed

[2018-01-18 08:08] IOsonoTAN opened #163 "How to remove "." (dot) after number when i use "numberFormat"."
Hello there,

I've some issue about a style name "numberFormat" that always insert "." into every number field.

- This my code:
[code]
- Expect value:
[code]

- Actual value:
[code]

Thanks in advance.

[2018-01-18 18:50] Dineshagrawal85 opened #164 "I've very basic code in which I'm try to add a basic prompt on two cells and excel4node is firing Error: Document can only have one root node (rejection id: 2)"
var xl = require('excel4node');
var wb = new xl.Workbook();
var ws = wb.addWorksheet('options');

ws.cell(1, 1).string("col1")
ws.cell(2, 1).string('val1')

ws.addDataValidation({
    prompt: 'Prompt one',
    promptTitle: 'String',
    sqref: 'A1:A1',
});
ws.cell(1, 2).string("col2")
ws.cell(2, 2).string('val2')
ws.addDataValidation({
    prompt: 'Prompt two',
    promptTitle: 'String',
    sqref

[2018-01-19 11:36] #163 closed

[2018-01-20 00:31] githubandrewd opened #166 "Corrupted Excel format when Generating on AWS Lambda"
I have a problem.

So I am using a JSON  and putting its values into the spreadsheet with a Node.js app on my local Mac OS machine, and I am able to generate the Excel and open it with OpenOffice and Google Drive.

Then, I deploy the Node.JS app to AWS lambda, and the spreadsheet it generates is corrupted.

I don't know how to check what went wrong with the excel format, but here is what I see whe

[2018-01-22 01:41] alasdaircr commented on #95
@natergj I would start by approximating it. See PHPOffice's approach here https://github.com/PHPOffice/PhpSpreadsheet/blob/257c3eca5870dbfaf89eb344fb31c07dfbb74456/src/PhpSpreadsheet/Shared/Font.php#L315

[2018-01-23 14:51] IvanNaumenko opened #167 "Creator info in excel file"
How to fill in creator info in the generated file?

[2018-01-24 23:50] natergj commented on #167
The library currently doesn't support setting document properties. I will add this to the enhancement list

[2018-01-24 23:52] natergj commented on #166
the xlsx file is basically just a zip file with a different extension.  That will display differently when opening it with vi vs vim. If you could create a small gist that can be used to replicate the issue and attach the corrupted xlsx file, that will help me track down what is causing this issue.

[2018-01-29 12:41] ADITI1001 opened #170 "How to solve 'JavaScript heap out of memory' error without allocating memory to node?"
Node throws 'JavaScript heap out of memory' error when I write more than 500 rows using Excel4Node module. So, I tried running the command: node --max-old-space-sixe=4000 server.js, and the excel sheet was generated without any memory issues. But it takes around 3 mins to create the file and the working to the web page is freezed till the duration the excel is written.
Can you provide me a solutio

[2018-01-30 00:34] natergj commented on #170
@ADITI1001, could you provide a gist or code that can be used to replicate the issue? I've definitely been able to use this library to write far more than 500 rows without this error.

[2018-01-30 05:43] ADITI1001 commented on #170
I can write more rows, but not without the command I mentioned earlier.
The code is:

i = 4;
if(data.length){
data.forEach(function(item){

while(i < n+4){

ws.cell(i,1).number(i-3).style({alignment: {vertical: ['center'],
horizontal: ['left']}, font: {color: '000000',size: 12},border: { bottom: {
style: 'thin',color: '000000'}, right: {style: 'thin', color:
'000000'},left: {style: 'thin', color:

[2018-01-30 10:47] anatoly314 commented on #149
I have a similar issue with Excel 2016 on OSX High Sierra, when I trying to create a file with 50000 or more rows. File with 10000 rows works fine, 50000 or more doesn't work. What can be the issue?
My code is below:

[code]

[2018-02-01 17:52] webmobiles opened #171 "Repeat specific rows or columns on every printed page"
Hello
there is a way to Repeat specific rows or columns on every printed page ?

here two links how to do it in excel or openoffice. but i don't know if is possible in excel4node, if not there is a way to collaborate to implement this?

thanks

openoffice:
https://wiki.openoffice.org/wiki/Documentation/FAQ/Calc/Printing/How_I_do_select_a_row_(or_rows)_in_my_spreadsheet_to_repeat_on_every_page_when

[2018-02-03 21:28] natergj commented on #170
It looks like the main problem was that the `wb.write` method was being called for each loop. Basically what this would do is write a new workbook for each row processes and overwrite the previously written workbook file.  Moving this to outside the loop resolved the issue. The linked gist generates a 50,000 line workbook.

I noticed it looked like you were doing what appeared to be some unnecessa

[2018-02-03 21:44] natergj commented on #171
@webmobiles, Thanks for including the link to the support docs, that helps understand these feature requests a lot!
excel4node does not currently support this feature, but it is covered in the [ECMA-376 2nd edition Part 1](http://www.ecma-international.org/publications/standards/Ecma-376.htm) under section  §18.2.5 so it is something that could be implemented.

I will mark this as an enhancement r

[2018-02-03 22:41] natergj commented on #149
@mukesh8511 and @anatoly314, Thanks for the code samples! These issues should be fixed now with version 1.3.5. I confirmed there is no longer an issue using either of your samples. I am running Excel 16 on macOS High Sierra

[2018-02-03 22:41] #149 closed

[2018-02-03 22:45] natergj commented on #157
@Greenns, Thanks for the gist! I forgot to update this issue when I applied the bug fix. This bug was resolved in version 1.3.4 and using your gist, both D1 and D2 have formatting applied.

[2018-02-03 22:45] #157 closed

[2018-02-04 09:47] RezaErfani67 opened #173 "rtl direction"
can i change page direction to RTL?

[2018-02-04 10:22] RezaErfani67 commented on #173
var options = {
                    margins: {
                        left: 1.5,
                        right: 1.5
                    },
                    sheetView:{rightToLeft:true}
                };

var worksheet = workbook.addWorksheet("123",options);

[2018-02-04 10:22] #173 closed

[2018-02-05 07:00] maxwellllll opened #174 "Add insert text box capability"
The capability to insert an Excel text box via `ws.addTextBox()` object would enable people to insert text in absolute positions - something that is quite challenging right now.

[2018-02-05 08:10] ADITI1001 commented on #170
Thank you for this solution. I tried writing excel without while, and it worked brilliantly.

[2018-02-05 08:10] #170 closed

[2018-02-05 10:23] timmykawhi opened #175 "How to set "decimalSeparator" and "thousandsSeparator"?"
Excel set '.' as default decimalSeparator, and ','as thousandsSeparator. How can I change this default setting? For example, 1000000.11 display as 1,000,000.11 if number format is "#,#.00". How can it displays as 1.000.000,11

[2018-02-06 00:12] natergj commented on #175
Number formats are defined in section 18.8.30 of the ECMA-376, Second Edition, Part 1 reference document. Specifying the separator characters is not part of the OpenXML standard. The separators displayed use the formats specified in the OS.  For Mac, you'd change your current language in the "Language & Region" system preference. For windows, you can either set it in the Control Panel or globally

[2018-02-06 07:45] timmykawhi commented on #175
@natergj  can I do that by js programing?

[2018-02-07 07:59] houssemDevs opened #176 "How to create a table (ListObject)"
Is there a way to create a table in excel4node or not yet supported ?
If not yet supported are there any plans to support it ?

[2018-02-07 13:44] nebaz opened #177 "Is there support for percentage cell type?"
I can not set the percent cell type.  Is this possible?

[2018-02-09 18:12] mwillbanks opened #178 "Add support for streaming writes"
Extremely large files are not possible with excel4node simply due to it not having stream support for writes as you go.

The XMLBuilder dependency does support this (see the streaming information under the XML Writers documentation): https://github.com/oozcitak/xmlbuilder-js/wiki#user-content-xml-writers

[2018-02-11 20:16] michael-bogdanov commented on #17
+1

[2018-02-13 00:05] natergj commented on #178
I'm going to set this as an enhancement request and try to get it into version 2. Not only do I need to get the xmlbuilder to use streams, but also be able to pipe those streams directly to jszip. For version 2, i'm trying to get the module to be able to run in the browser as well, so streams will be idea for that.

[2018-02-13 00:13] natergj commented on #177
There is no specific percent cell type. Percents use the standard number cell type formatted as percentages.  You can see an example at [this gist](https://gist.github.com/natergj/8089af76e795a09e20e04619f2447414)

[2018-02-13 00:13] #177 closed

[2018-02-13 00:47] natergj commented on #176
I'm not sure what you mean by ListObject. I can't find any reference to that in the ECMA-376 standards guide.  Is there a Microsoft Support site link that you can send me that describes how to add a ListObject to an Excel workbook through the Excel application? I can probably track it down from there.

[2018-02-13 00:49] natergj commented on #175
Not through the excel4node module. I do not know about specific OS hooks for javascript. I would not recommend doing that, though, if it is possible. The change would be global, all applications would have their language settings change. It would be best to provide your users with instructions on how to change their system internationalization settings.

[2018-02-13 00:49] #175 closed

[2018-02-13 13:36] Vortelf opened #179 "Multiple cells and borders issue"
Hello,
I have this problem, whenever I try to add a border style to multiple cells I have to do it cell by cell because:

This applies the style to every cell separately, which means the border is everywhere.
[code]
And this makes it whole field where the border is right, but I cannot write inside because I have one single cell.
[code]
Is there a way to either split the cells again and keeping the

[2018-02-15 17:15] i1-imran commented on #71
how to do this in indian cuurency format

[2018-02-21 00:52] natergj commented on #71
@i1-imran
you can use the numberFormat property of a style to format for Indian currency. The currency string that you would put into the Microsoft Excel cell formatter includes the `\` and this slash needs to be in the final output. since the `\` is an escape character, you'll need to escape it. You can see an example in this gist: https://gist.github.com/natergj/f6a039a268436a783870be322f835804

[2018-02-21 00:53] natergj commented on #179
@Vortelf the module doesn't currently have this functionality. Right now, you're workaround to create the 6 styles is the only solution. I will look into adding functionality that includes this in the next major version of the library.

[2018-02-21 11:13] smashmirrorcardboardface commented on #28
Pivot tables please?

[2018-02-22 08:37] houssemDevs commented on #176
Sorry for the delayed response.

This is a link to microsoft documentation on the vba method use to create a ListObject:
[ListObjects.Add](https://msdn.microsoft.com/en-us/vba/excel-vba/articles/listobjects-add-method-excel)

[2018-02-23 11:28] ermehtar commented on #17
+1

[2018-02-23 11:28] ermehtar commented on #131
+1

[2018-03-04 15:48] fareshan commented on #105
I am having the same issue.

[2018-03-04 15:52] fareshan commented on #105
actually, i forgot to use twoCellAnchor

[2018-03-08 10:30] i1-imran opened #180 "excel4node npm"
I want that my data to be in sorted order.
how could i write that with excel4node npm.

[2018-03-15 11:20] mgcrea opened #182 "column.setWidth and row.setHeight should accept float values?"
Not sure why there is this limitation of forcing values to be round integers, but in my case, if I use:

[code]

I always end up with a cell width of `65*6=390`. To properly have a 65px-wide cell, I must remove your checks and do:

[code]

Am I doing something wrong or should width/height values also accept floats?

[2018-03-16 08:26] limchivy commented on #126
@michelbb it is also working on my app.

[2018-03-19 08:28] MnemosyneMei opened #183 "No way to set filepath!"
Hi, I found that the file is save into process.cwd() where does not allow me to modify the filepath in the write function. Is there anyway for me to set the filepath like
`wb.write('./files/uploads/ExcelFile.xlsx', function (err, stats) {
});
`

instead of this
`wb.write('ExcelFile.xlsx', function (err, stats) {
});`

[2018-03-20 14:37] idanielsteven commented on #126
So the above approach does work, HOWEVER: this is related to the ommission of the "patternType" attribute. The export fails if you supply the "fill" settings and don't supply the "patternType" attribute.

[2018-03-20 15:31] idanielsteven opened #184 "Cannot add filter to a row"
"TypeError: Cannot read property 'filters' of undefined"

`
const wb = new Excel.Workbook();
const ws = wb.addWorksheet(this.fileName);
const style = wb.createStyle({..});

ws.column(2).setWidth(50);
ws.column(3).setWidth(30);
ws.column(4).setWidth(30);

ws.cell(1, 1).string('abc123').style(style);
ws.cell(1, 2).string('xyz').style(style);
ws.cell(1, 3).string('abcd').style(style);
ws.cell(1, 4).s

[2018-03-20 22:54] natergj commented on #180
the excel4node module does not have the ability to sort the data before writing the worksheet. You should sort the data using standard sorting techniques before adding the data rows to the excel worksheet.

[2018-03-20 23:02] natergj commented on #183
relative paths in node can be confusing at first. You may want to try using node path methods to always resolve an absolute path. https://nodejs.org/dist/latest-v8.x/docs/api/path.html#path_path_resolve_paths

The __dirname constant may be useful to use as a first argument when calling path.resolve() and that should always resolve to the path of the js file regardless of the process.cwd. https://n

[2018-03-21 22:38] natergj commented on #182
You're right that the value should allow a float and I will update the library to support that. The value that is being sent to the method is not a pixel value, however. The column width definition from the standards doc is the following. In order to support setting the value as a pixel value, I'd need to create some sort of lookup to determine the maximum character width for a particular font/siz

[2018-03-21 23:14] natergj commented on #184
thanks, @idanielsteven. This is now fixed in v1.3.6 which was just published.

[2018-03-21 23:14] #184 closed

[2018-03-21 23:14] natergj commented on #182
ability to set a float as a width has been fixed in v1.3.6 which was just published.

[2018-03-21 23:14] #182 closed

[2018-03-22 03:52] MnemosyneMei commented on #183
Yes, it may be difficult on setting the path sometimes. But I found 2 ways to work on it which is using writetoBuffer or using base64 to upload my file directly to my parse server with a preset file upload path.

[2018-03-22 03:52] #183 closed

[2018-03-22 07:34] KudosAbhay commented on #155
Hi,

I am not sure if my issue is the same, but seems pretty same:
My Original DateTime value is : **2018-03-22 12:28**
Now, I want to Store it in Excel in format of: `numberFormat: 'hh:mm dd/mm/yyyy'`
However, I am getting it stored as: **06:58 22/03/2018**

Can you guys help me out ?

[2018-03-22 23:07] natergj commented on #155
The best way to guarantee your date string is to send a UTC date string
`ws.cell(1,1).date('2018-03-22T12:28:00.0000Z')`

From section 18.17.4.1 of the spec guide

That no timezone information bit the difficult thing because Javascript DateTime objects do have timezone and reconciling the two is not a straight forward task. Using UTC date strings in your code should show everything the way you lik

[2018-03-27 09:40] i2chris opened #187 "Modify existing spreadsheets"
Hey, great library!

Can this library modify existing excel files?

[2018-03-27 09:40] #187 closed

[2018-03-27 13:15] kykint opened #188 "Add typings.d.ts for use with TypeScript"
Please, add typings.d.ts for use with TypeScript

[2018-03-28 02:33] Dominic-Preap commented on #188
@natergj and @kykint  checkout my [repo](https://github.com/Dominic-Preap/excel4node/blob/master/typings/excel4node.d.ts). I end up customize my own definition. Everything is related to the doc exception `addConditionalFormattingRule()` and  `addImage()` which I am not implement yet.

maybe you guys can help implement and publish it.

[2018-03-28 14:33] deepsoul commented on #111
Hi,
is there any progress in this issue?

[2018-03-28 17:01] calumk commented on #111
For me, the problem now seems to be solved - I wonder if updating excel solves it?

[2018-03-30 15:15] Altoblond commented on #171
Hello,

I would also be greatly interested in this feature.

[2018-04-04 05:53] lgunnar opened #189 "Backslash in number format"
I have this minimal example

    var xl = require('excel4node');
    var wb = new xl.Workbook();
    var ws = wb.addWorksheet('Sheet 1');
    var style = wb.createStyle({
	     numberFormat: '# ##0.00'
    });
    ws.cell(1,1).number(123456789.01).style(style);
    ws.cell(1,2).number(13423545.52).style(style);
    wb.write('Excel.xlsx');

And I can create the file in ubuntu linux, but when I open

[2018-04-05 07:11] reg0 commented on #111
I'm not sure if that's the same issue, but my formulas don't get evaluated if excel opens the file in "protected view" (after downloading it from the internet)

there's similar issue described here, of course it's a different software, but maybe there's some hint: https://www.syncfusion.com/forums/109560/formulas-in-excel-spreadsheet-do-not-calculate-until-enable-editing-is-clicked
they suggested

[2018-04-05 09:30] Sabellus opened #190 "SourceMap position not found for trace: undefined Error: Cannot find module ".""
I run tests,  `npm run test `
and get this error
WHAT IS IT?
WHAT TO DO?
05 04 2018 14:24:29.011:WARN [reporter]: SourceMap position not found for trace: undefined
      ✗ #convertFile
	Error: Cannot find module "."
	    at webpackMissingModule (webpack:///node_modules/excel4node/distribution/lib/types/index.js:9:0 <- index.js:19435:97)
	    at webpack:///node_modules/excel4node/distribution/lib/t

[2018-04-09 12:28] kevinries opened #191 "Grouping doesn't work without errors"
I create an Excel file with grouping and insert lines as line headers. The file has about 1800 lines.
The code looks like this:
[code]

For some reason, some rows are not included in the grouping.

the strange thing is that it works under Apple Numbers and Google Sheets. Only Excel shows this behavior. Any ideas or suggestions?

![image](https://user-images.githubusercontent.com/11897961/38497596-

[2018-04-09 22:26] natergj commented on #188
Thanks, @Dominic-Preap
I've got a branch going right now for version 2 of excel4node. That version is being written in TypeScript and will have types build automatically for it.   In the meantime, maybe you could submit your typings file for version 1 to the https://github.com/DefinitelyTyped/DefinitelyTyped repo for other v1 users

[2018-04-10 04:53] Dominic-Preap commented on #188
@natergj please do it for me cause I am not familiar with publish to npm. It would benefit to everyone. Thank you.

[2018-04-11 04:56] ysapp commented on #126
How to make bgColor in solid pattern?

[2018-04-11 07:25] HardikGlib commented on #140
![selection_008](https://user-images.githubusercontent.com/33016366/38602163-96c582a4-3d87-11e8-877d-92ae9a6f897c.png)

[2018-04-12 16:34] mlanzi commented on #124
I have the same issue with the formulas, specifically with IF and SUMPRODUCT. They have in common the use of ";" inside the formula, maybe it is related to that the issue. The formula won't be evaluated.

[2018-04-12 16:36] mlanzi commented on #111
I have the same issue with the formulas, specifically with IF and SUMPRODUCT. They have in common the use of ";" inside the formula, maybe it is related to that. The formula won't be evaluated.

[2018-04-20 20:34] facku opened #192 "Full Api Documentation?"
Hi, where can i find the full documentatio of the api, for example how i can set  a column as auto-fit to data length

[2018-04-23 23:10] natergj commented on #192
the full api documentation is the README in the GitHub project. There isn't currently a separate API or documentation site.

Column auto-width is not an option. See [issue 95]( https://github.com/natergj/excel4node/issues/95) for discussion on that topic.

[2018-04-23 23:10] #192 closed

[2018-04-23 23:17] natergj commented on #111
@reg0 sheet calculations are turned on by default.
@ilijaveselica, does this issue only occur when downloading the excel file from the internet and opening with Excel for Windows? If so, that is a security feature of Windows Excel. I don't believe it can be overridden.

[2018-04-23 23:19] natergj commented on #140
@HardikGlib, can you provide a gist that demonstrates the issue?  That "we found a problem" prompt can occur for many reasons and you may be seeing that for some reason other than the sheet name character length.

[2018-04-23 23:35] natergj commented on #126
I need to update the documentation to list the available options rather than referencing the spec doc. You should be able to do this by setting the patternType to "solid".

Options are: darkDown, darkGray, darkGrid, darkHorizontal, darkTrellis, darkUp, darkVertical, gray0625, gray125, lightDown, lightGray, lightGrid, lightHorizontal, lightTrellis, lightUp, lightVertical, mediumGray, none, solid

T

[2018-04-24 07:32] mlanzi commented on #111
I found how to resolve my issue:
the string of the formula cannot contain ";"
I replaced the ";" with "," and not it works!

[2018-04-24 17:59] ealtuna opened #193 "Lock cell support"
Is there any way to achieve the behavior of locking cells? I see there is the option of selectLockedCells but if you can not lock cell what would be the utility of that option?

[2018-05-03 17:25] gonet123 commented on #140
I had the same problem.
I don't have images and the name of the sheets are less than 31.
I thought it could be the file name but it was not.

It did work when I removed special characters ( _ , : é à -) from the sheet name

I hope it can help you

[2018-05-09 19:27] CnApTaK commented on #189
same here. works in EXCEL ok. each space divides number by 1000 and rounds.
lib adds extra slash to format. as result it looks like: 0\  " GB"

[2018-05-11 14:30] dmechiche opened #194 "Add option to set Print Area"
Add a worksheet option to set the print area by specifying which cells should be printed.

[2018-05-15 12:32] chk- commented on #155
Hi,
I worked arround this issue by manually adding the timezoneOffset to the date:
`function correctTimezoneIssue(jsDate) { // https://github.com/natergj/excel4node/issues/155
  return new Date(jsDate.getTime() + (jsDate.getTimezoneOffset()*-1) *60000);
}
correctTimezoneIssue( new Date( "2018-05-15T12:32:33.248Z" ))`

[2018-05-15 21:40] natergj commented on #155
@chk- you're likely to still run into issues with this solution if you live in an area that observes daylight saving time. The date string that gets created will have the offset based on the date that you pass into the function.

`new Date( "2018-05-15T12:32:33.248Z" ).getTimezoneOffset()` = 300
`new Date( "2018-01-15T12:32:33.248Z" ).getTimezoneOffset()` = 360

You'll probably see that dates crea

[2018-05-19 14:12] chk- commented on #155
@natergj Thank you for your advise, you're totaly right. So I went deeper and these are the facts I could collect:
Excel treats dates as universal. I generated a file in London and opened it in Arizona (-7). -Date/Times are showing the same values.
The consumer of my app defines a time. When the consumer exports the data into Excel, he awaits the same time showing up in the cell as he defined it i

[2018-05-20 19:29] summit2020 opened #195 "How to add two merge cells in a row"
I have added code as below -
`ws.cell(1, 1, 1, 2, true).string("Merge Cell A").style(storeStyle);`
`ws.cell(1, 3, 1, 2, true).string("Merge Cell B).style(storeStyle);`

Please correct if its wrong somewhere.
Many Thanks

[2018-05-29 09:05] NStal opened #196 "Workbook.write to Uncode filename cause things to broken, if write to http response object."
https://github.com/natergj/excel4node/blob/f2032ac22af2a5b23ec958ad6de268bad4cb5b04/source/lib/workbook/workbook.js#L165

Should encode the filename with EncodeURIComponent.

[2018-05-30 20:50] NestorFlores commented on #158
Any news on this? If the library doesn't implement cell comments yet, maybe anyone can give a hand and I can implement it myself and share the code.

[2018-05-31 05:02] abariklrn opened #197 "JavaScript heap out of memory"
Hi There,
I am trying to write excel sheet with this awesome module.
I have array of JSON object(**more than 50k**) and trying to add all records in sheet.
But unfortunately  I am getting **Javascript heap out of memory**.

I have got similar closed issue [here](https://github.com/natergj/excel4node/issues/170)

But I think I am not writing the book on every loop.

here is my code base

[code]

I

[2018-05-31 09:58] NStal commented on #197
You may try to increase the heapsize of V8.
https://futurestud.io/tutorials/node-js-increase-the-memory-limit-for-your-process

[2018-06-06 11:17] surendrabvv opened #198 "`WriteToBuffer` is causing Javascript heap out of memory"
Hi,

I'm using following code to write the workbook into buffer. It works if the workbook or excel contains less than 10,000 rows.

If the workbook contains more than 10,000 rows. For example, say 25000 rows.

[code]

Here is the exception,

[code]

Is there any way that we can stream the rows in the created workbook instead of writing entire workbook at once to buffer?

[2018-06-08 20:10] nowherenearithaca commented on #160
+1

[2018-06-10 04:03] nowherenearithaca commented on #198
btw - assuming you are using node - I ran into something similar to this with writing to a file and a solution was to specify some mem parameters to node when it is started

basically, I did something like this

[code]

these were the default parameters for what I found so you might need to tweak them for your own situation

[2018-06-10 04:07] nowherenearithaca opened #199 "Sometimes adding hyperlinks results in excel file that excel insists on repairing"
I've run into several cases when when I add hyperlinks the resulting excel file is "damaged" somehow and Excel insists on repairing it on open ... it leaves the styling but removes the link.

[2018-06-10 04:08] nowherenearithaca commented on #199
Answering this (I think)

There seems to be a limit of about 66000 hyperlinks in a worksheet, and I'm pretty sure I was hitting that... so the issue is not with excel4node at all

[2018-06-14 09:03] davidkoberan opened #200 "border types for multiple cells"
@natergj is it possible to add two new border styles `inline` and `outside` to get this effect
[code]
![screen shot 2018-06-14 at 10 54 39](https://user-images.githubusercontent.com/14921100/41402183-ec155b3c-6fc1-11e8-886e-8da5b1e271f2.png)

[2018-06-14 15:56] surendrabvv commented on #198
@nowherenearithaca

Thanks for you answer. But, it will be good if this package supports streaming for both read and write operations.

[2018-06-27 17:21] ThomasPCG commented on #180
Hi,

I'm adding the following error under this issue as title was tagged as npm. Please move it to a new issue if this is not appropriate.

The library is using an outdated version of lodash which may cause prototype pollution (https://nodesecurity.io/advisories/577).

` "dependencies": {
    "lodash": "4.17.4",
  }`

Fix is to update the version of lodash to `>=4.17.5`.

Thank you.

[2018-07-01 21:08] #160 closed

[2018-07-04 06:24] nooballday opened #202 "Is it possible to save it to .csv file"
As the title says can i save the file as .csv? because i've tried to change its name to excelfile.csv but it doesnt work.

[2018-07-07 15:57] natergj commented on #202
it is not possible to save as CSV. This library was designed to create formatted Excel workbooks. CSV does not allow for formatting, only data. Since CSV is just a text file representation of a multi-dimensional array, there are much better solutions that using a library like this. I'd recommend using a CSV specific library or writing a custom implementation sending array items directly to a write

[2018-07-07 15:57] #202 closed

[2018-07-07 15:58] natergj commented on #199
interesting limitation. Thanks for the update on what you found!

[2018-07-07 15:58] #199 closed

[2018-07-07 16:31] natergj commented on #197
For super large workbooks that require formatting, increasing the head size is probably the best solution at this point. If the data does not need to be exported in a nicely formatted excel workbook, I would recommend using CSV format, opening a [write stream](https://nodejs.org/api/stream.html#stream_class_stream_writable) and adding data from your array to that stream line by line. The only limi

[2018-07-07 16:40] natergj commented on #195
I could probably make the error a little better or handle right to left cell range references, but your error will go away if you change your 2nd merge to this:
[code]

Also note that in your example, you are trying to merge cell B2 (row 1, column 2) twice. A single cell can be in two merged cells. You probably meant to do this?:
[code]

[2018-07-07 17:53] natergj commented on #194
I'll add this as an enhancement request. It looks like this is done by specifying a `definedName` element in the workbook xml.
reference: definedNames.name (§18.2.6 of ECMA-376 2nd edition pdf)

[2018-07-07 18:12] natergj commented on #193
by default, when protecting a worksheet, all cells are marked as "locked".  There isn't currently functionality to change the "locked" flag on a cell by cell basis. I can add that as an enhancement request.

The below example would essentially disallow the selection of any cell on that worksheet.
[code]

[2018-07-07 19:10] natergj commented on #196
This should now be resolved in version 1.4.0. Thanks, @NStal, for bringing it to my attention.

[2018-07-07 19:10] #196 closed

[2018-07-09 13:35] SHoar opened #205 "italic font not working"
I've tried in multiple fashions, and cannot get italics to work.
`ws.cell(3,4).string('Unknown').style({font: { italic: true, color: 'FF808080'}})
`

Is there any additional settings needed for it to work?

[2018-07-09 17:08] FlyingPumba commented on #156
@dangear I'm having the same problem. Did you manage to solve it ?

[2018-07-10 00:12] natergj commented on #205
I appear to have a typo in the documentation. adding an s to `italic` should take care of your issue.
[code]

[2018-07-10 00:16] natergj commented on #156
@FlyingPumba, could you provide a small gist that I can use to try to replicate this issue?

[2018-07-10 00:43] SHoar commented on #205
Perfect, works like a charm now! Love your library!

[2018-07-10 00:43] #205 closed

[2018-07-10 05:40] pmg1407 opened #206 "E-Mail and Phone Number Validation"
How to add custom validation for email and phone number
`  Sheet.addDataValidation({
            type: 'custom',
            error: 'May I have a valid email ID please?',
            sqref: 'F2:F100',
            formula: 'ISNUMBER(MATCH("*@*.???",F2,0))',
        })`

[2018-07-10 05:42] pmg1407 opened #207 "Date Validation is not working"
`Sheet.addDataValidation({
            type: 'date',
            allowBlank: false,
            error: 'My Error Message',
            sqref: 'D2:D100',
            operator: 'lessThan',
            formulas: ["07/07/2018"]
        })`

[2018-07-10 07:17] dangear commented on #156
@FlyingPumba Can you show your code?

[2018-07-10 18:12] FlyingPumba commented on #156
@natergj @dangear Sorry, I don't have a small gist of code to replicate the issue.

Nevertheless, I think I found the cause of the issue. The problem seems to appear on line https://github.com/natergj/excel4node/blob/master/source/lib/workbook/builder.js#L500 this happens when I call workbook.write(...) with a workbook that doesn't have sheets.

You probably meant to write "promiseObj.wb.Worksheet

[2018-07-11 15:14] maksimu opened #209 "Column Auto Width"
Is there a way to atomically resize the width of the column after report has been generated? Something similar to an action in Excel when you press between header columns.

[2018-07-11 23:05] natergj commented on #156
Thanks for finding that @FlyingPumba! I'll get that fixed in the next release

[2018-07-11 23:17] natergj commented on #207
Date data validation formula's require the value to be the Excel timestamp. This should work for you.
[code]

[2018-07-11 23:34] natergj commented on #206
I found this formula on [stack overflow](https://stackoverflow.com/questions/14482403/excel-email-validation-formula) for email.  Phone number should work along the same lines, you'll need find the best formula that works with the phone number format for whichever country the Excel file will be used in.

[code]

[2018-07-11 23:36] natergj commented on #209
Please see discussion on https://github.com/natergj/excel4node/issues/95 and https://github.com/natergj/excel4node/issues/23

This is not currently supported by this library.

[2018-07-11 23:36] #209 closed

[2018-07-12 10:41] pmg1407 commented on #207
Wow! It's working perfectly. Thank you so much @natergj

[2018-07-22 20:23] #122 closed

[2018-07-22 20:23] #133 closed

[2018-07-22 21:55] natergj commented on #207
@pmg1407, I see that you've re-opened this issue after closing it. Are you still have issues with date validations?

[2018-07-22 21:58] natergj commented on #156
This is now fixed with version 1.5.0

[2018-07-22 21:58] #156 closed

[2018-07-23 17:52] gajus commented on #198
@natergj Any plans of addressing this?

The API is great, but with this limitation it is hard to use it for anything practical.

[2018-07-23 17:52] tsunamiq opened #216 "is it possible to hide a sheet after cells are modified?"

[2018-07-23 18:31] nowherenearithaca commented on #140
Other things that I've seen cause this are

* cells with more than 200-ish characters (excel says it can take ~32k of them, so maybe it's a mac thing)

* malformed links

Might be worth spitting out some warnings when this happens, if specified limits can be trusted.

[2018-07-30 15:46] nowherenearithaca commented on #135
note - the formula function way doesn't allow you to change the tooltip text, as far as I could tell.

[2018-07-30 23:37] natergj commented on #216
@tsunamiq, I am unable to replicate this issue. Do you have a sample gist that you can provide that replicates the issue?

[2018-08-02 10:29] eldhotkuriakose opened #217 "Any Way to add watermark or background image?"

[2018-08-13 08:41] aavanzyl opened #218 "TypeError: Cannot read property 'match' of null"
When adding a `null` value to a cell, you get an `TypeError: Cannot read property 'match' of null` error.

Example
[code]

I expected the lib to handle null values or give a more descriptive error when they happen.

[2018-08-15 11:30] natergj commented on #218
I'm going to mark this as a bug.  I think the best solution for this one would be to forcibly coerce any value sent to `cell.string()` to a string. This would print out the word "null" in the cell when the method is passed a null value. This would also would put strings like "undefined" and "[object Object]".

[2018-08-16 19:54] fnaquira commented on #33
Hi everyone, could you do it? I am looking for the same funcionality.

[2018-08-17 16:34] edtguy opened #219 "Produced file does not open in SiSense ElastiCube Manager import"
Am I missing a step before writing the Excel file, to make it fully Excel compatible?
The file can be opened in Excel with no problem, but when I attempt to read the file I have created with the SiSense Elasticube Manager's import feature, it generates an error with the message, "Object reference not set to an instance of an object."
If instead, I first open the file in Excel, do nothing but click

[2018-08-20 09:40] karan-jaryal opened #220 "Unable to open files in MS Excel"
I have problem,I am unable to  open the validated excel in MS excel 10.Got opened in Libre Office.
Code:
// Create a new instance of a Workbook class
    const wb = new xl.Workbook();

    // Add Worksheets to the workbook
    const ws = wb.addWorksheet('Sheet 1');

    // Columns to import
    const columns = ['Complex', 'Field', 'HasLight', 'League', 'Area', 'Timezone', 'Address1', 'State', 'Cit

[2018-08-20 22:22] Alex-Ferreli opened #221 "Reuse same WB without creating new one every time"
Hi natergj, thanks for the library! Lock awesome and complete.

I would create a template without data, only setting styles to every cells and would reuse the same template every time i need it. It's possible export in a module a WB and select again a WS to add data to interested cells? Should be more fast too because it didn't re-run the same code to create the same template over and over.

Readi

[2018-08-21 14:16] natergj commented on #219
I think you're right about the missing metadata. This is almost certainly a bug somewhere. Either I am missing a required attribute in the files the excel4node library is generating or SiSense Elasticube Manager compare is looking for something that is required when it should be using a default value.

I can run through the OOXML docs and double check that I'm adding all required props. This one m

[2018-08-21 14:28] natergj commented on #220
@karan-jaryal Thanks for the bug report and the code example!
Are you using the latest version of the excel4node library?  I am unable to reproduce this issue, but I am testing with Excel 2016 on both Mac and Windows. I don't have access to test with version 10 as [Microsoft no longer supports that version](https://en.wikipedia.org/wiki/Microsoft_Excel#Summary)

[2018-08-21 14:30] natergj commented on #33
I am slating this feature for the next major version. Summer's been crazy, but I hope to have the next major version out relatively soon.

[2018-08-21 14:31] natergj commented on #221
Hi @Alex-Ferreli,
This is one of the more requested versions, so I am slating it for the next major version. I am tracking that in https://github.com/natergj/excel4node/issues/33 so I'm going to close this issue as a duplicate.

[2018-08-21 14:31] #221 closed

[2018-08-21 14:41] edtguy commented on #219
@natergj I will check the logs, but they are notoriously obtuse.

[2018-08-21 14:44] karan-jaryal commented on #220
Yes I am using the latest version.I have tested it on excel 2016 its not working there.It ask’s for excel repair

[2018-08-21 15:18] edtguy commented on #219
@natergj The log has a combination of readable and non-readable characters. Here is the relevant portion:
`</ElastiCube.ManagementService.Process.TrackingItemEvent><ElastiCube.ManagementService.Process.TrackingExceptionEvent State="Failure" TraceLevel="4" CloudTable="LaborSummary" CloudColumn="" CloudName="Springstone">
<Title>Failed to execute reader.</Title>
  <Description>Object reference not s

[2018-08-21 15:47] andrewgura opened #222 "TypeError: xl.WorkBook is not a constructor"
I can not create a new xl object

[code]

[2018-08-21 16:03] natergj commented on #222
@andrewgura, do you have [protected view](https://support.office.com/en-us/article/what-is-protected-view-d6f09ac7-e6b9-4495-8e43-2bbcdbcb6653) enabled in your MS Office settings? If so, that message will pop up because the file was downloaded from a web browser, not necessarily because a virus was found. You can verify for certain by writing your file locally and opening it directly rather than g

[2018-08-21 16:17] andrewgura commented on #222
it seems to only happen if I do it through this, when I make an excel file and download it with just using javascript on clientside, it doesnt detect any viruses

[2018-08-21 18:46] Alex-Ferreli commented on #221
Sorry, i had searched for a similar issue but didn't found it.

[2018-08-23 16:31] edtguy commented on #219
I thought this might be helpful. I just ran a simple test, creating a two column, two row spreadsheet. The resulting file (3k) does not load into SiSense, but if I open and save the file in Excel, that file (9k) is readable. If you recreate this, will you be able to tell what it is that Excel is adding to the file?

    "use strict"
    const xl = require('excel4node')

	let wb = new xl.Workbook()

[2018-08-23 20:25] andrewgura opened #223 "Cell Comments?"
I don't see on the docs about adding comments to the cell, is there a way to add them in with excel4node?

[2018-09-02 15:28] nowherenearithaca opened #224 "Applying style to range given 4 cell corners of the range?"
I saw that styles can apparently be applied to ranges (based on a comment in 2014), but how do you do this if you have the cell coordinates of the 4 corners of the range?

thanks!

[2018-09-02 15:32] nowherenearithaca commented on #224
ok - looks like you just add the two coordinates to the cell call

I am wanting to put a border around the range, NOT apply a border to each individual cell

[2018-09-02 16:37] nowherenearithaca commented on #224
ok - I added borders to the cells on the corners separately, but was curious is there is an outine you can do in one statement for the range

[2018-09-02 16:37] #224 closed

[2018-09-02 16:39] natergj commented on #224
I have an open enhancement request for this functionality in https://github.com/natergj/excel4node/issues/200. You can watch that issue for updates and hopefully I'll get to that soon. Right now, the way you did it is the required workaround.

[2018-09-05 20:50] edtguy commented on #219
Update: I just loaded and tested another package, exceljs. It has the same issue. Resulting file does not load into SiSense unless first opened and saved in Excel.

[2018-09-06 07:20] lauriebonete commented on #144
Based on other libraries, I believe it should be an empty space.
Any chance of doing this?

[2018-09-06 11:27] manishmotiani opened #226 "Date type cell do not have default workbook font"
**Describe the bug**
Default font type and size does not apply to **date** type cell.

**To Reproduce**
To replicate this issue sample code is available here
[https://gist.github.com/manishmotiani/8864b356960896fce0dd4d46cf4a1d0d](https://gist.github.com/manishmotiani/8864b356960896fce0dd4d46cf4a1d0d)
Observe difference in font type/size of **name** and **date** cell

**Expected behavior**
Date ty

[2018-09-06 19:41] natergj commented on #219
MS Excel tends to add a LOT of stuff that is not necessary for the spec. I'm currently working on a 2.0.0 rewrite which should make it easier to add a compatibility setting when creating workbooks. I'd want to make sure that is an optional mode that can be turned on as it does increase file size. I'll let you know when I have a beta up so you can try it to see if that fixes the issue you're seeing

[2018-09-06 19:42] natergj commented on #144
I think a blank string might be the way to go, too. I'll have some time to spend on the library this Sunday, so I should be able to get a release with this fixed before the work week starts.

[2018-09-06 20:30] edtguy commented on #219
Thank you @natergj I'll look forward to testing it when ready, as this library has an easy to understand api. In the meantime, the package xlsx, does generate a spreadsheet file readable by SiSense, and yes, it is significantly larger. It's also more cumbersome to set up.

[2018-09-07 06:40] Hobart2967 opened #227 "Excel4Node not saving file"
**Describe the bug**
Using the example below (see link), the file is not getting saved. It is not hitting any of the console.logs inside the callback function of workbook.write. File is not to the disk afterwards, but code runs successfully and process exits.

**To Reproduce**
https://gist.github.com/Hobart2967/5bfbe9da3b4980c2a8b56fb3bc410ad2
Hint: pass { export: 'filename.xlsx' } as arguments to

[2018-09-07 06:45] Hobart2967 commented on #227
It's not even doing it on runkit: https://runkit.com/hobart2967/5b921dd5ce81c40012b5e12c

[2018-09-09 21:03] natergj commented on #218
it turns out I had already had code to handle non-string values being passed to the string method but a bug was preventing that code from being applied. That is resolved in version 1.5.1. non-string values will be replaced with empty strings and a warning will be logged to the console if the workbook was initialized with a log level above warn.

[2018-09-09 21:04] natergj commented on #226
It looks like this was just an issue with LibreOffice, but I was able to add a work around and that fix is in version 1.5.1

[2018-09-09 22:26] #218 closed

[2018-09-09 22:26] #226 closed

[2018-09-09 22:27] #227 closed

[2018-09-10 06:56] lauriebonete opened #231 "Multiple level of row grouping"
I'm using the row group API, as shown below, it works great if I only need 1 level of group. Tried grouping rows within an already grouped row but it doesn't collapse.

Is it possible to do multiple level of row grouping as shown on the attached [link](https://s3-ap-southeast-1.amazonaws.com/dvboer-bucket/Capture.PNG)

If it is already possible, can you please give some guides.

[2018-09-13 18:18] mschnee commented on #75
[code]

[code]

This is likely from https://github.com/oozcitak/xmlbuilder-js/issues/98

[2018-09-14 02:37] wuxjim opened #233 "add page break"
**Is your feature request related to a problem? Please describe.**
yes, the content is arranged by sections, we need to print them on different papers.
**Describe the solution you'd like**
add a page break in a row.

**Describe alternatives you've considered**
  I can not find an alternatives.

**Additional context**
This Lib is excellent!!

[2018-09-16 14:44] natergj commented on #223
The library doesn't support comments yet. The feature is currently on the enhancement list and being tracked in https://github.com/natergj/excel4node/issues/158

[2018-09-16 14:44] #223 closed

[2018-09-16 15:17] natergj commented on #231
Yes, it is possible to create multiple levels of groupings. Here is a basic gist to demonstrate
https://gist.github.com/natergj/b548fe8d2ea00c5b9fa94597c2cf9fd2

[2018-09-16 15:46] natergj commented on #217
Excel does not have built in support for watermarks. The MS website has a few different articles on how to mimic the functionality, but none of them are currently supported by the library and each have their own pros/cons .
The library also does not currently support background images.

[2018-09-16 16:13] natergj commented on #189
@lgunnar, were you able to get this resolved? sorry it took so long for me to get to it. I'm unable to replicate the addition of the `\` character when creating workbooks in Ubuntu (I'm trying with Ubuntu desktop 18.04), so I wonder if that issue was solved with an unrelated bug fix.

If you are trying to set the thousands separator to a localized value (like a space), you would still want to use

[2018-09-18 03:57] iamjoyce commented on #155
@natergj Is it right to say that this is a temporary solution?

[2018-09-19 23:48] ssbike opened #236 "Hidden option issue on creation of first sheet"
The "hidden:true" option in creating a worksheet is ignored if the sheet is the first in the order of creation. It works for subsequent sheets

[2018-09-20 19:42] jmck-contessa commented on #127
VSCode wasn't giving me intellisense today for this library and I really expected something like `worksheet1.row(1).setStyle(headerStyle)` to work. This would be an awesome addition.

[2018-09-25 15:22] thomasaelbrecht commented on #158
Any news on this?

[2018-09-26 06:46] research-and-develop commented on #158
Nothing till now, but I still use this library for my project, just putting the comments as text in a cell with custom format, depriving myself of using the default excel comments. Depends on your needs, if you just want to tell something to the user you can use this approach, but if you need to take advantage of `<authors>`  and do something more advanced you are still not able to do it with this

[2018-09-27 14:48] thomasaelbrecht commented on #158
Okay, I will think about it. Your proposed solution does not fit my project, but I'll give it a try. Thanks!

[2018-09-27 22:12] alugowski commented on #140
This one hit us, because it's not on Microsoft's list of Excel limits: https://support.office.com/en-us/article/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3

There are many limits that Excel enforces but other readers like LibreOffice, Numbers, GSheets, don't. It might be worthwhile for excel4node to check for at least the easy ones.

The character limits, worksheet name le

[2018-09-27 22:24] alugowski opened #237 "Add checks for Excel limitations"
Excel enforces various limits on things like character count, line count, link count, worksheet name length, etc. These are not limits of the XLSX format, and often other readers like LibreOffice, GSheets, or Numbers will happily open files that Excel complains about.

If any of the limits is exceeded then Excel pops up an uninformative "there is an error" popup.
<img width="419" alt="image" src="

[2018-09-28 21:40] mschnee opened #238 "Incorrect Unicode Handling causes XLSX files to be unreadable."
**Describe the bug**
A couple of weeks ago I submitted a PR for #75, which updated `excel4node` to accept XML 1.1-valid characters as cell content.  This worked, mostly, until a customer of mine attempted to download XLSX reports that had input data from certain multi-code-point emoji (the skin-tone emoji), which resulted in Microsoft Excel being unable to open the resulting file, with the message

[2018-09-30 22:58] natergj commented on #236
I should be able to update the library to handle this automatically, but the issue is that the default workbook active tab is set to the first tab if not overridden. If that tab is hidden, Excel chooses to show it if it is set to the active tab. For the time being, you can work around that behavior by setting the active tab to an index of a different non-hidden tab as shown in this gist.

https://

[2018-09-30 23:07] natergj commented on #158
I'm working on adding comments ability for the next release. There is a "comments" branch that should be functional and the README in that branch has examples if you'd like to check it out. I still need to add some tests and other validations, but this should be released soon.

[2018-10-01 06:34] zzzgit opened #241 "how to append rows to a existing file?"
I want to append some rows to an already existed file, is it possible?

[2018-10-04 11:27] bexoss opened #242 "Is there a way to read image in exist excel file?"
Let's suppose there is an image in cell **A1**

Can I read this image and upload this to server?

I saw there is a way to add image to excel file using this library.

Not add image to worksheet, I want to catch images in some cell and upload to server.

Can I do it?

[2018-10-07 18:45] natergj commented on #158
Basic cell comment functionality has been added to release 1.7.0. Usage instructions in README

[2018-10-07 18:45] #158 closed

[2018-10-07 18:45] natergj commented on #238
PR 239 has been released as part of version 1.7.0. Thanks, again @mschnee

[2018-10-07 18:45] #238 closed

[2018-10-07 18:46] natergj commented on #236
as of release 1.7.0, the active tab will now be the first non-hidden tab unless otherwise specified.

[2018-10-07 18:46] #236 closed

[2018-10-09 12:39] yogisaka opened #245 "Cannot use addPageBreak"
Im try add page break using ws.addPageBreak('row', 5); but this function not working and make my application broken, always break and not show any things.

[2018-10-09 12:47] yogisaka commented on #245
im sorry about my mistake. im try update my npm package and work again

[2018-10-09 12:47] #245 closed

[2018-10-10 08:55] pkolawa commented on #241
It is, but it depends on how your data in worksheet is structured. Does every column has exactly the same number of rows filled?

[2018-10-10 15:51] andrewgura opened #246 "Comparing cell values?"
I have an array  `var names = ["Bill", "Bill", "Bill"];` and I have creating the cells through a for loop

[code]

and if I try to do a basic comparison like

[code]

It doesnt work, my goal is to combine the cells together if they are equal so this would end up being
` ws.cell(2,1,4,1,true).string(name[i]);  ` so it wont be combined 3 cells here. Is there a way I can compare the cell values?

I k

[2018-10-10 16:44] yogisaka opened #247 "Border not work on office 2016"
Im try add border on my excel but not work on office 2016. im try on libre office border work.
merge cell and add border
![image](https://user-images.githubusercontent.com/26576744/46751886-026c5a80-cce6-11e8-9cba-d597a53841c3.png)

string content with style wrap text
![image](https://user-images.githubusercontent.com/26576744/46751970-42334200-cce6-11e8-9b46-d34eaff3486f.png)

[2018-10-10 17:17] pkolawa commented on #246
```ws.cell(x,y).string("")``` method is meant for **storing data in the cells**, not reading from the cells. So you need to compare values first, and then store them in properly formatted/merged cell.

[2018-10-10 17:17] pkolawa commented on #247
so you've merged cells first and then add the border?

[2018-10-10 17:20] pkolawa commented on #241
So you can add come ```counter``` to your code and store number or last filled row while you are processing current file.
Since this library is able to save data to the Excel file, not read from them, there's no point of checking how many rows you have.

[2018-10-10 19:12] yogisaka commented on #247
yes im do like this:

`ws.cell(15, 1, 15, 4, true).string('This test data for this content on the table').style({font: {size: 12,name: 'Arial',bold: true,},alignment: {wrapText: true,horizontal: 'center',vertical: 'center'},border: {top: {style: 'thin'},bottom: {style: 'thin'},left: {style: 'thin'},right: {style: 'thin'}}});`

if im insert many string data, this border gone, and try print preview

[2018-10-10 19:46] pkolawa commented on #247
Unfortunatelly, on Excel 365 on Mac the code you have sent works perfectly well.
![zrzut ekranu 2018-10-10 o 21 45 10](https://user-images.githubusercontent.com/3491645/46761856-e496f980-ccd5-11e8-897b-c03a1a1e8c82.png)

[2018-10-10 21:55] yogisaka commented on #247
im found this problem. if im write style
`let MyStyle = wb.createStyle({
            font: {
                size: 12,
                name: 'Arial',
                bold: true,
            },
            alignment: {
                wrapText: true,
                horizontal: 'center',
                vertical: 'center'
            },
            border: {
                right:{

[2018-10-11 06:07] pkolawa commented on #247
So we can close the issue?

[2018-10-11 06:07] pkolawa commented on #246
Can we close the issue?

[2018-10-11 06:10] pkolawa commented on #242
This library so far does not have ability to read files. So the steps you are taking are like: I have data -> I'm placing it to the file. So as long as you are writing into certain file you can keep the track of inserted images on your own.

[2018-10-11 09:11] #247 closed

[2018-10-11 09:12] yogisaka commented on #247
Yes thanks

[2018-10-11 10:32] SferaDev opened #248 "Named cells"
Excel allows a given Cell to have a name and refer to that cell using the name.

For example: A1 has name "_MyCell", B1 has formula "=_MyCell" and both output the same text.

Would this be easily implemented?

[2018-10-11 14:01] SferaDev opened #250 "DataValidation on a whole column doesn't work"
DataValidation with sqref "A3:A5" works fine but produces a corrupt excel when using sqref "A3:A".

[2018-10-11 14:08] SferaDev opened #251 "Freezed columns are applied on all sheets"
Setting ws.row(1).freeze() freezes cells on all existing sheets, not only on the selected one.

[2018-10-11 15:21] SferaDev commented on #248
Checking the code I see there's support but no reference about it. I'm using:

workbook.definedNameCollection.addDefinedName({
    refFormula: "'SheetName'!" + Excel.getExcelCellRef(rowId, 3),
    name: '_' + value.id
});

But I guess it would make sense to have it from worksheet.

[2018-10-15 10:30] sprakashojha opened #252 "There is no option to protect a workbook."
**Is your feature request related to a problem? Please describe.**
We have the Protect Worksheet options available and it works very well. But there is no option to protect a workbook.

**Describe the solution you'd like**
The workbook options should have the facility to protect the workbook.

**Describe alternatives you've considered**
Does not have any alternative hence need help.

**Additional

[2018-10-16 14:14] curiousPup commented on #209
is this still not supported?

[2018-10-17 19:26] jusopi opened #253 "Call to worksheet API generates RangeError: maximum call stack size exceeded"
**Describe the bug**
Every call to the worksheet API to write to a cell, both complex and simple strings generates the following error:
[code]

As you can see by the below error messages, the call stacks are different.  Not sure if that's helpful or not.

**To Reproduce**
Enter the node command line `$:node` then try the following code:

[code]

**Expected behavior**
A call to `ws.cell(1,1).string

[2018-10-17 20:31] natergj commented on #253
@jusopi, are you only seeing this in the node interpreter? If you put your code into a script.js file and then run `node script.js` does everything work?  It looks like the node interpreter is trying to format the result of the `ws.cell(1, 1).string('foo')`call in order to print it to the console and the max call stack size exceeded error is coming from the formatting call, not the excel4node libr

[2018-10-18 02:04] jusopi commented on #253
I originally tried this from running `node script.js` with the same results.  The first code I posted was after many failed attempts getting a script to run with the same code.

[2018-10-18 03:06] jusopi commented on #253
I figured out the *script* based issue:  I was using the postgres node library and not closing the process by calling `pool.end()` so there was a process hanging out which locked out `excel4node` from accessing the process pool.

[2018-10-18 03:06] #253 closed

[2018-10-19 12:30] natergj commented on #251
@SferaDev, I am unable to reproduce this issue using the code in this gist: https://gist.github.com/natergj/40b7dc4eed9fc0ab3e5a76f8d79f5adc

Could you provide a code sample that replicates the issue?

[2018-10-19 12:45] natergj commented on #250
"A3:A" is not a valid sqref. If you do want to add data validations starting at one row and applied to all following rows, you'll need to specify the exact range "A3:A1048576". Excel has a limitation of 1,048,576 rows, so this should accomplish what you are trying to do.

[2018-10-20 16:52] SferaDev commented on #250
Okey, anyway it shouldn't produce a corrupt excel file, right?

[2018-10-20 17:02] SferaDev commented on #251
Sure thing, here's a new gist with the issue:

https://gist.github.com/SferaDev/e54c81f72e7d9470feb0633734a4661f

[2018-10-22 18:16] junaidinam opened #254 "Memory Leak"
wb.write seems to work fine with small data but when I tried it with 27,353 rows of data. write just keeps hogging memory until node gives out of memory error. --max-old-space-size doesn't work either in this case. tried writing to buffer but same results. NO error or anything just doesn't produce anything.
One peculiar thing I noticed is that in my express settings if my idle logout time is 2 min

[2018-10-25 11:36] natergj commented on #254
I actually had this issue at the place I was working when I first wrote this library. The limiting factor in my scenario was the response time for database queries needed to fetch the data, but I believe the result is the same as what you are seeing in terms of the error being swallowed by the timeout. To solve that my colleague at the time and I added web sockets to our web application and nodejs

[2018-11-04 17:30] daudirsch commented on #198
Using node, we are also having this issue.  In our case we are building a workbook with 6 worksheets.  a few of the worksheets have 38k rows or so.  No matter how we call **workbook.write()** we are getting the Javascript heap out of memory error.  I'm not able to control the startup of node, so adjusting the mem params is not an option for us.

Is there either a fix or a workaround?  This is a gr

[2018-11-11 08:42] bharadipankaj opened #255 "Date issue"
Hello,

I am facing issue in date.
Sometime **+1  day and -1 day**  date i got.

My Server is in Australia and we accessing Server from Singapore and India.
I am using Moment js for formatting.
E.g.
let dbDate="2018-10-15T11:00:00.0000Z";
let formattedDate=moment(dbDate).format("YYYY-MM-DD");
console.log(formattedDate) // Shows correct date.

ws.cell(10, 1)
        .date(formattedDate)
        .st

[2018-11-13 22:57] mergebandit opened #256 "Support Emoji delimited files"
I wrote a module that converts CSVs into 🧔separates values.

Can you please add support for emojis? Otherwise I won’t be able to feed my family.

[2018-11-14 10:02] natergj commented on #255
The issue here is that you are using moment to format your date prior to sending it to the cell's date setter. Dates in Excel are really just a unit difference from an arbitrary point in time and timezones aren't really a thing. The easiest way to think about this is to work under the impression that your Excel workbook will always display in UTC time and the date that you put into cells should be

[2018-11-14 10:22] natergj commented on #256
emoji support was added in release 1.3.5 and expanded in release 1.7.0. The library doesn't currently have a built in mechanism for importing "🧔SV" files or CSV files for that matter.

[2018-11-18 09:21] gal664 commented on #28
I assume that this feature is not existing yet..
it's a shame, this library is the best I've found and the only thing missing for me is inserting a chart into one of my worksheets..

can anyone update if this is feature will be done anytime soon?

[2018-12-03 12:46] bharadipankaj commented on #255
Hi,
I wanted to show only date without time.
I am using your style for formatting the date field,
But it just hide time,if you see the actual value it shows time.
Do you have any support for functions or macro? Or any another way to show only date?
Please help me as early as possible.

[2018-12-06 06:16] bharadipankaj commented on #255
Hi
Generly i face date +1 or -1 in the case of Day light saving case,
Our server is in Australia.
So could you help me asap on this.

Thanks

[2018-12-06 07:02] bharadipankaj opened #257 "Day light saving date issue"
Hi
Generly I face date +1 or -1 in the case of Day light saving case,
Our server is in Australia.we save dates in mongodb in utc format.
So could you help me asap on this.

Thanks

[2018-12-07 19:30] sebzapata opened #258 "TypeError: deepmerge is not a function"
**Describe the bug**
Installed using `npm i excel4node`. After starting the project, when I click the button to create a workbook, which runs `const wb = new xl.Workbook();` I get the error 'TypeError: deepmerge is not a function'

**Environment (please complete the following information):**
 - OS: Windows 10
 - Node Version: 6.1.0
 - excel4node Version: 1.7.0

**Additional context**
Using in a pr

[2018-12-08 13:07] omurbekjk opened #259 "How to send image to back?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-12-08 14:52] natergj commented on #255
@bharadipankaj, If you create a date using a string value with the time set explicitly to midnight (i.e `"2018-12-08T00:00:00.000Z"`), Excel should display the date as only the date. This will display as just the date in the cell and also when clicking on the cell.

[code]

[2018-12-08 14:58] natergj commented on #257
closing as duplicate of https://github.com/natergj/excel4node/issues/255

[2018-12-08 14:58] #257 closed

[2018-12-08 15:01] natergj commented on #255
Here is a quick date cleaning function that may help you get to correct date strings for what you are trying to do.
[code]

[code]

[2018-12-08 15:03] natergj commented on #258
@sebzapata
Are you using some sort of packaging library (Webpack, rollup, gulp, etc) to package your app to run in a web browser?  excel4node currently does not support running in a web browser and I've seen others with this issue when trying.  A sample project that demonstrates the issue would be very useful for troubleshooting.

[2018-12-08 15:09] natergj commented on #259
The "send to back" feature of Excel is used to set layering of multiple images in Excel. You should be able to accomplish this by just changing the order in which you add images. Are you looking to set the image as a sheet background instead?

[2018-12-08 16:02] omurbekjk commented on #259
I was positioning image from A1-B4. When I put text inside B3, image was on top of text. That's why i wanted to send image to back.  Sheet background also works. How to do it?
Btw: is it possible to use this package with front end frameworks like Angular?

[2018-12-09 21:32] sebzapata commented on #258
Yes, I'm using react-scripts which I believe uses webpack.
I'm not sure how to show you a sample project demonstrating the issue, but for the project I'm making, I have a webpage which keeps track of staff in an office. I want the user to be able to download this data into an Excel spreadsheet, ideally along with an image, by clicking a 'Download data' button.
If excel4node is not able to do this,

[2018-12-13 14:27] bharadipankaj opened #260 "Performance issue"
Hi,
I have more than 5000 records and more than 80 columns.
So I am facing performance issue, the report takes more than 1.30 minutes to generate.
Please help me on this asap.

Thanks

[2018-12-17 13:22] spuddieblue commented on #131
+1

[2018-12-21 19:47] n-a-t-e commented on #193
Here is a workaround I use, it creates an error message when you try to change a cell's contents.

`const lockCell = (worksheet, range) => {
  worksheet.addDataValidation({
    type: "textLength",
    error: "This cell is locked",
    operator: "equal",
    sqref: range,
    formulas: [""],
  });
};`

eg, `lockCell(worksheet,'B12');`

[2018-12-24 12:08] ashjha1 opened #261 "Advance string value not override in tab"
**Describe the bug**
I have 2 spreadsheet where on 1st heading and 2nd sheet heading are using advance string (with different color) but both sheet show same data

**To Reproduce**
[code]

**Expected behavior**
It should show different on both tab

**Environment (please complete the following information):**
 - OS: [Ubuntu 18.04]
 - Node Version: [8.11.14]
 - excel4node Version: [1.7.0]
 - Applica

[2018-12-31 11:09] fullstackguyhere opened #262 "Anyway to hide errors shown by excel?"
I am getting numbers stored as text and I would like to hide them programmatically.

![image](https://user-images.githubusercontent.com/31564466/50559210-97498780-0d1a-11e9-9f8f-ed7f0c34b1b7.png)

[2019-01-11 20:34] fernandoruaro commented on #258
Hey guys, I was able to fix this by updating the deepmerge version. Here is the PR with the fix: https://github.com/natergj/excel4node/pull/263

[2019-01-17 17:15] RyanSMurphyDMCo commented on #188
@natergj How is that second branch coming along for typescript?

[2019-01-24 17:59] faizan1219 opened #265 "Anyway to read a excel template file and then edit it?"
I have some excel template files and i need to fill data in them from my node server, but ican't find any mechanism of reading a excel file and updating it, in your library.

If there is anyway please share it.

[2019-01-28 09:41] zypA13510 opened #266 "License error on npmjs.com"
https://www.npmjs.com/package/excel4node

It shows `license: none` on the page, which seems to be incorrect according to the license file in the repository.

[2019-01-28 17:36] stufinn commented on #194
I seem to be hitting an error when I use ws.setPrintNames(), upon opneing the new file in excel. Any ideas why this would be happening?

![excelerror](https://user-images.githubusercontent.com/30563561/51854614-d0145680-22f0-11e9-9c73-36770218367a.png)

[2019-02-04 16:50] zauker commented on #252
is the same request of the issue #41

[2019-02-14 12:34] BikesAndSpikes opened #267 "Macros support"
Hello!

I'm wandering if excel4node supports adding macros to workbooks?
Or maybe this support would be added in the future?

Thanks in advance!

[2019-02-18 11:49] mscoobby commented on #116
`const base64 = string.replace(/^data:image\/jpeg;base64,/, '');`
`const buff = Buffer.from(base64, 'base64');`
And then instead of "path" specify "image" with the "buff" constant.

[2019-02-25 10:07] AlexanderTunick opened #268 "Invalid Range Error for single range in the worksheet"
Hi.
Observing some error that doesn't spoil my file structure nohow but being outputted in the console for an unknown reason.

Error:
Invalid Range for: A1:G1. Some cells in this range are already included in another merged cell range: A1:G1.

Condition:
I have a simple file structure where:
(screenshot: https://monosnap.com/file/ZPvKPi9WFDlBH52k0ShTbiHUKLEPmd)
columns range: A-G (7)
cells in A1-G

[2019-02-26 14:05] sebRomeo commented on #157
Hi just in case someone get there with version 1.4+ and wonder why it is still not working, please check that priority param is different in both `addConditionalFormattingRule`. If not, one will override the other ;)

[2019-03-13 16:46] xlazex opened #269 "ComplexString copying the same data while filling table inside loop"
**Describe the bug**
Not sure if it's a bug or a feature..

**To Reproduce pt.1**
Here's the abstract example how it behaves
[code]
Result:
[code]

**To Reproduce pt.2**
But if I change `ws.cell` part of the code above
[code]
Result:
[code]

[2019-03-13 22:30] xlazex commented on #269
I think, this issue seems to be the same as described in #261

[2019-03-15 15:57] xlazex commented on #269
[**workbook.js -> getStringIndex:260**](https://github.com/natergj/excel4node/blob/e72e1feb79ab739aea51f81d7b49571c7da1e0b9/source/lib/workbook/workbook.js#L260)

Example 1:
[code]

Example 2:
[code]

Example 3:
[code]

Example 4:
[code]

[2019-03-21 12:21] ryan-kimber commented on #41
Is there any movement on this?
@natergj My team and I at FormHero would be interested in contributing.

Could you point us in the right direction as far as where you think changes will need to be made and any specifications around the password protection in the XLSX spec?

[2019-03-21 20:40] dangear opened #274 "How assign color of Sheet tab(bottom lable)?"
I see the Sheet styles but can't find property where I can assign color of Sheet tab/lable/
Any ideas?

[2019-03-23 01:21] reest1685 commented on #258
Any update on this?

[2019-03-24 17:33] #266 closed

[2019-03-25 21:24] natergj commented on #258
version has been updated with PR https://github.com/natergj/excel4node/pull/275 and will be released with v1.7.1 shortly

[2019-03-25 21:25] #269 closed

[2019-03-25 21:27] natergj commented on #261
this should be resolved via https://github.com/natergj/excel4node/pull/276 and included in 1.7.1 release

[2019-03-25 21:27] #261 closed

[2019-03-25 21:29] #258 closed

[2019-03-25 21:38] natergj commented on #274
This functionality currently doesn't exist in the library. I'll mark it as a feature request.

[2019-03-25 21:42] natergj commented on #268
If you could provide a full gist that demonstrates the issue I can take a look at it. One thing to look for is if you are trying to write data to any single cell in that range. With that range, if somewhere in the code you have `ws.cell(1, 2).string('something')`, for example,  you would see that warning because you are trying to write a value to a cell that is part of a merged block.

[2019-03-25 21:43] natergj commented on #267
it's not currently on any feature list. I can add it.

[2019-03-25 21:50] natergj commented on #262
Not that I know of. There is an application wide setting to disable the error checking, but I don't know of a way to set it at the workbook level

[2019-03-25 21:54] natergj commented on #41
It looks like the encrypted workbooks are stored in the same OLE format at the old xls documents. I don't think to add encryption support is going to be a straight forward process. "password protected" is a bit ambiguous when it comes to xlsx. It is fairly straight forward to "protect" a workbook from edits, but encryption is a different story.

[2019-03-30 17:18] natergj opened #278 "Create Actual Docs site"
Code for docs should live alongside implementation code

[2019-04-12 16:15] AlexanderTunick commented on #268
Researched an issue again but didn't find any relevant place where can be an intention to write into that field over and over again.
Provide you with this simple function I have written for file filling
[code]

Just to refresh, I have plenty of these notifications:
[code]

[2019-04-12 17:00] natergj commented on #268
Thanks for the code snippet, @AlexanderTunick .  The issue you are seeing with the range is caused by the following being included in your `excelDataFiller` method and being called on every row iteration.  This should only be called once, so it should be moved to outside that iteration.
[code]

I'm not sure where this syntax came from, but the `ws.cell` method does not take an array as an argument

[2019-04-12 17:35] AlexanderTunick commented on #268
@nateratseas Thank you very much. I see the point and having followed your kindly provided snippet with changes I've run tests and got a successful resolution on it. Yes, everything works.
Also considered your recommendation on asynchronous actions and added `await`

Thank you one more time.

[2019-04-12 17:36] #268 closed

[2019-04-19 14:57] enesien opened #283 "Comment boxes change to giant arrows after saving"
**Describe the bug**
Comment **boxes** are replaced with comment **arrows** after saving and reopening.
![Untitled](https://user-images.githubusercontent.com/35812073/56429686-a8da7f00-6278-11e9-81e2-85c402359f48.jpg)

**To Reproduce**
Download a spreadsheet created with excel4node that contains comments on a cell(s). Open the spreadsheet, save the spreadsheet and reopen. When hovering over cells

[2019-04-28 16:06] #283 closed

[2019-04-28 16:08] natergj commented on #283
Thanks for the bug report, @enesien
This has been fixed in master and will be released with version 1.7.2 shortly.

[2019-04-29 16:15] jonorozcoc commented on #262
Isn't it better to make something like an autoformatter?

[2019-05-06 03:44] RAJAMOHAN-S opened #286 "promiseObj.wb.Worksheet is not a function in Node.js version 8"
**Code:**
[code]
**Error:**
[code]
I can't figure out the issue, How to resolve this error? Thanks lot!

[2019-05-16 00:22] ebefarooqui opened #287 "addImage function not writing image / not sending error message"
Currently trying to add an image to my excel sheet using the `addImage` function. The sheet never gets written nor is an error thrown.

Here's the relevant code snippet:

[code]
The image is stored in the working directory that this function is called.

I expect either the image to be written or to receive an error but neither occur.
Writing simple strings into the cells without the image works: f

[2019-05-16 18:45] ebefarooqui commented on #287
Pretty new to this package too and wondering how everyone goes about debugging. Adding validation statements?

[2019-05-16 19:34] #287 closed

[2019-05-22 17:38] ErwinBustillo opened #288 "WRAPPING GROUP CELLS ISSUE"
When I make a horizontal group cells for example:
ws.cell(2,5,2,11,true)
.string(HERE LONG TEXT)
.style({
   alignment:{
     wrapText:true
}
})

And I try to using wrapText propertie to fit a long paragraph into grouped cells their don't apply the wrapping correctly.

How can fix this issue?

I GONNA ATTACH the full code of my problem

      //#region ASPECTS
                disy += 2

[2019-05-22 21:31] natergj commented on #288
I am unable to recreate your issue. I tested with the following gist and everything came out as expected. https://gist.github.com/natergj/21266b7f9f7653006d20d15eb45d18b1

![image](https://user-images.githubusercontent.com/8051185/58210282-9a83e680-7cae-11e9-8d24-1faa5f3e9dad.png)

with `wrapText` set to false, the output looks like this:
![image](https://user-images.githubusercontent.com/8051185/

[2019-05-22 21:35] natergj commented on #286
I can add a task to fix the error. The underlying issue is how the code attempts to handle writing a workbook if the user has not created any worksheets. The easiest way around this is to add a worksheet to your workbook
`var ws = wb.addWorksheet("Sheet1");`

[2019-05-22 23:00] ErwinBustillo commented on #288
ok. but the problem is how to determine the height for the row for example
I have 50 or n comments list in one row how can I handle the height of the
row thinking of the length array of  comments.

El mié., 22 de may. de 2019 a la(s) 16:31, Nater (notifications@github.com)
escribió:

[2019-05-23 01:38] RAJAMOHAN-S commented on #286
Thanks for the solution, but still I am getting same issue. I am using `nodemailer` for sending email. So, I want buffer to send email attachment. I am using firebase cloud function.

Here is full code,
[code]

[2019-05-31 10:02] fahadsubzwari924 opened #289 "How to show text in color filled cell?"
I am applying background color to group of columns and rows like this

`var greenBgColumnsRows = wb.createStyle({
    font: {
        color: 'black',
        size: 12,
    },
    fill: {
        type: 'pattern',
        patternType: 'solid',
        bgColor: '#33FF35', // HTML style hex value. defaults to black
        fgColor: '#33FF35'
    },
})`

`var textStyle = wb.createStyle({
    font: {

[2019-06-19 16:35] #193 closed

[2019-06-24 08:57] jinceon commented on #170
if using a same style, code should be

[code]

[2019-07-05 23:38] marcinolek opened #290 "Merging cells is kind of slow"
When you use something like this `ws.cell(2, 2, 2, 5, true)`, especially in loops, it becomes slow even for small ranges. In a js profiler I can see it's way slower than anything else.

It's not a big deal though. I will have a look and hopefully I am able to help with a PR, but maybe someone with a background in this lib can fix it.

<img width="1729" alt="2019-07-06 (2)" src="https://user-images

[2019-07-14 17:21] felixgani commented on #47
hai I try your modules in AdonisJS framework, i used that same code in Adonis but having return error like this:
"TypeError: Unknown object sent to write function."

can you help me with this error in AdonisJS? or you can suggest me what should i do with this error?

[2019-07-17 10:17] #290 closed

[2019-07-23 19:50] enesien opened #291 "cell().style() is blocking; excessive with large number of cells"
**Describe the bug**
I'm creating a spreadsheet with over 20k rows, each with ~50 columns.

I apply a relatively simple style:

[code]
Console.time indicates this takes about 40 seconds to complete, all the while Node is completely blocked.

**To Reproduce**
Create a spreadsheet with many rows and apply a style to each cell.

**Expected Behavior**
This process should ideally not take so long, othe

[2019-07-25 13:58] natergj commented on #289
@fahadsubzwari924, I am unable to replicate this issue. I am using this code sample. https://gist.github.com/natergj/0ddb5c287cbba42c7cff614728c47337
If you are still having this issue, please provide a complete gist that demonstrates the issue.

[2019-07-25 16:55] natergj commented on #291
I agree that the library can be further optimized and asynchronous versions of methods could be added to help with this, I just don't have the time to do that right now. When I initially wrote this library, exporting huge datasets was not one of the things I was trying to solve for. Right now you're iterating over nearly 1 million cells and in a synchronous world that is going to take a while and

[2019-07-25 21:22] enesien commented on #291
Thanks for the response! I understand not having the time. I'm thinking I can do something like your first suggestion in cases like this, possibly using setImmediate() every 100 iterations or as needed.

Thanks again.

[2019-08-03 00:27] jamskahler commented on #256
This is so badass, I was just looking for this (if anybody's ever done emoji-delimited before) lol

[2019-08-06 19:57] enesien commented on #291
@natergj I'm having additional problems and I'd rather not open a new issue since it's likely related.

I'm trying to create a spreadsheet with ~8990605 cells but I'm hitting some kind of limitation and the workbook.cell() function begins to take ~3000ms per cell, effectively stopping the processing in its tracks. Do you know of a limitation within excel4node or its dependencies that could be caus

[2019-08-06 20:55] natergj commented on #291
@enesien, I'd need to see a code example to look more into that one. The issue you're seeing seems a bit odd.  Could you create a github gist with sample code that demonstrates the issue and post the link here?

[2019-08-19 14:20] kyushiro commented on #118
Any updates regarding this?

[2019-08-31 14:36] biaggi commented on #111
Somehow im trying to use the formula "SUMA(F1:FX)" but i get suma(f1:fx) and libreoffice does not resolve the formula :(

Dont want to manually touch the library, but this should be fixed

[2019-09-06 07:38] AdrianEunoia opened #292 "Unable to add an img and cell comment on the same worksheet."
We have been testing to add an img and a cell comment on the same worksheet, individually it works perfectly but both makes the xlsx break.

Simple code example:
`var xl = require('excel4node');`

`var wb = new xl.Workbook();`
`var ws = wb.addWorksheet('Sheet 1');`

`// Cell + comment`
`ws.cell(1, 1).number(100)//.comment("Comment");`
`// Img`
`ws.addImage({`
`path: './descarga.jpg',`
  `type: 'pi

[2019-09-16 05:16] chenkang084 commented on #198
I also have the same issue with out of memory , suggest support stream function is better .

[2019-09-16 05:19] daweimau opened #293 "wb.write() is asynchronous but does not return a promise"
Where no handler is provided to wb.write(), the current method uses native fs to write to the buffer:
[code]
But fs works asynchronously. It returns a promise which we should wrap or await: see [discussion here.](https://stackoverflow.com/questions/31978347/fs-writefile-in-a-promise-asynchronous-synchronous-stuff)

This means that currently, wb.write() is non-blocking (good), but it should be retu

[2019-09-16 06:56] gajus commented on #198
I have long since migrated to https://npmjs.com/package/libxl. Works like a charm even with very large exports (100MB+). Couldn't be happier.

[2019-09-16 23:16] neerajhiretual opened #294 "Formula Parse Error in google sheets"
**Describe the bug**
Formula Parse Error in google sheets. I am trying to add a sum formula in a cell. But google sheets show "Formular Parse Error". However, MS Excel and other Excel clients work as expected.
Another weird thing is, if i create a excel sheet manually from MS Excel and add a formula in that to sum the cells, and upload to view in Google Sheets. That file's formula is calculated co

[2019-09-18 11:21] 4haohansen2033 opened #295 "please update image-size dependencies."
**Describe the bug**

 I am facing problem that add image to sheet. but always show  “RangeError [ERR_BUFFER_OUT_OF_BOUNDS]: Attempt to write outside buffer bounds“。

![image](https://user-images.githubusercontent.com/18458663/65144255-86c47300-da49-11e9-9073-fadbf53b73df.png)

**To Reproduce**
Add link to [gist](https://gist.github.com) that will replicate issue here

**Expected behavior**
A clea

[2019-09-19 12:06] 4haohansen2033 commented on #295
sorry. it can't resolve my issue. the reason  may be my picture error that doesn't include enough length.

[2019-09-27 02:35] chenkang084 commented on #198
@natergj do you have any plan to work with the requirement ?

[2019-10-09 12:46] povloid commented on #166
Good time!
We have the same problem with last Openoffice 4.1.7.
But with Libre Office and Google SpreadSheet all right and not problems.

[2019-10-09 13:07] povloid commented on #166
I found the problem. I did try to open file with **xls** file extension, but when I renamed it to **xlsx** file extension, then Open Office working correctly.

The problem was in file name. I think need to use **xlsx** file extension as in the docs examples.

[2019-10-13 03:46] sumitbhavra commented on #193
Hi, the above solution is working fine. However, how to block a user to put data in new columns or rows. Could you please guide? I tried using sheet protection however, it locks everything. I want a user to add data in particular columns and cant create more rows & columns because data will come from DB and will be added in excel.

[2019-10-13 03:56] sumitbhavra commented on #41
hi, I want to protect the entire sheet except for a few columns. How can I do it? Please guide?

[2019-10-14 13:34] mhutfield commented on #139
@hastom thanks that was driving me mad :)

[2019-10-17 15:24] sumitbhavra opened #296 "Sheet Protection"
Hi,
I want to protect certain columns in excel. example like computed value column which contains a formula. How can I protect it? I am using the workaround. This workaround does not stop the user to delete that particular cell. I have tried sheet protection. However, it locks down everything.  Could you please help and guide how to use this sheet protection feature where I can protect certain par

[2019-10-23 16:18] bobweil commented on #188
For my copy, I added the middle line in the snippet below to cover writing to the  Express Response:
`    write(filename: string): void;`
`    write(filename: string, res: Response): void;   // Added this.`
`    write(filename: string, callback: (err: any, stats: Stats) => void): void;`

[2019-10-31 08:33] prachishah1326 opened #297 "Apply style to specific text in cell."
**Is your feature request related to a problem? Please describe.**
In an excel sheet how to  change the color of the specific text in cell through excel4node.

[
![Excel_image](https://user-images.githubusercontent.com/52954070/67931014-0c117a80-fbe7-11e9-844a-0e126cf11b87.png)
](url)

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-11-12 08:39] sidzan opened #298 "Using with Serverless or Middy Handler"
Is it possible to use this package directly with serverless or Middy?

I have implemented this package with express and it works pretty smooth, where I just need to pass the response handler.

Can this be achieved with AWS serverless tech stack without having to store the object to the s3?

It would be really helpful to have this feature. Not sure if this is not implemented because of technology l

[2019-11-12 16:10] maxpundyk opened #299 "TypeError: wb.Worksheet is not a function"
**Describe the bug**
When new workbook is created without sheets inside, it can't be written;

**To Reproduce**
Just create the new workbook without sheets inside.

**Expected behavior**
If wb.sheets.length === 0, create first sheet with .addWorksheet method.

**Environment (please complete the following information):**
 - OS: [Ubuntu 18.04]
 - Node Version: [10.16.3]
 - excel4node Version: [1.7.2

[2019-11-13 05:19] SGAWP opened #300 "An error occurs if the number field is empty"
I get an error when the field with the number is an empty value.

[2019-11-13 08:31] #300 closed

[2019-11-22 02:26] TranBaVinhSon opened #301 "Is this possible to read buffer by excel4node ?"
Thanks for the great package.
I'm trying to read buffer type by excel4node but can't see any documentation about that on github. Is this possible?

[2019-11-23 17:28] mmartinsolisdev commented on #111
@biaggi you need to put SUM instead of SUMA because excel4node works with formulas in English. Regards

[2019-11-24 09:00] beingtyson commented on #298
https://github.com/beingtyson/lambda-excel-example
Here that

[2019-11-27 15:06] abdias-alvarado commented on #241
Hi! But, how do I let excel4node know the file I'll modify?

[2019-12-02 17:11] HTMHell opened #302 "File size is increasing by using the same image multiple times"
I want to use the same image multiple times in the excel document. However, the file size of the excel is increasing for every image added (it's the same image).

Every time I add the image I use:

[code]

[2019-12-07 20:59] Newbie012 commented on #302
This can be achieved by allowing to modify `rId`.  Since `id` and `rId` are the same, I couldn't reference multiple `RelationShip[Id]` to the same target.

What I did:

1. Forked this libray and allow setting `rId` to `Picture`.
2. Instead of using `addImage`, I manually added to Media and Drawing with condition.

See example:

[code]

[2019-12-18 13:55] BasavarajCM opened #304 "Chart support"
Hello do we have chart feature in this library ?
Is any plan to add charts in future ?

[2019-12-19 08:53] Herious opened #305 "How to zoom a picture when i use the function addImage() ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-26 09:39] AlexMesser commented on #95
I am using a workaround for this issue.

[2019-12-27 08:44] sidzan commented on #298
@beingtyson , Thanks a lot!

[2019-12-27 08:44] #298 closed

[2020-01-02 16:58] JemiloII commented on #95
that's a pretty good idea. I guess a monospaced font would be ideal then?

[2020-01-24 22:25] KurtPreston opened #306 "Support for multi-cell array formulas?"
**Is your feature request related to a problem? Please describe.**

Excel functions can return arrays. Excel supports the ability to write the results of these functions to multiple cells. A good explanation is here:
https://exceljet.net/glossary/multi-cell-array-formula

I could not find information about multi-cell array functions in the documentation. Is it supported?

**Describe the solution y

[2020-01-30 12:56] pineapplemachine opened #307 "writeToBuffer fails with UnhandledPromiseRejectionWarning for trivial workbook"
**Describe the bug**

Calling `workbook.writeToBuffer` on a trivial workbook causes an opaque unhandled promise rejection error.

[code]

**To Reproduce**

Repro case. Error does not occur if commenting out the `worksheet.cell` line.

[code]

**Expected behavior**

Function should succeed in writing data to a buffer.

**Environment:**
 - OS: OSX 10.9
 - Node Version: 12.10.0
 - excel4node Version:

[2020-01-30 13:05] pineapplemachine commented on #307
So the cause of the error seems to be that the top-left cell is not (0, 0) but (1, 1). I imagine that this must be a common mistake - this really ought to produce a more informative error.

[2020-02-06 21:34] singhc00 opened #308 "Worksheet Tab colour?"
Is there a worksheet option to add Worksheet Tab color?

[2020-02-09 20:05] singhc00 commented on #274
Hi

Did this get added to the library?

[2020-02-10 16:15] sandysh opened #309 "Force Browser to download excel file"
Hello Team, thank you for the awesome package you have created. I have only one query regarding this package and that is if there is a way to force open a save dialog in browser instead of saving excel file directly in current working directory. The scenario is that i want user to choose location to where they want to download the excel file.

[2020-03-23 17:52] debjava opened #310 "How to create Microsoft slicer in an excel sheet while generating"
Please help about how to create slicer in Microsoft excel sheet while generating the excel sheet using excel4Node package. I provide below the link for Microsoft excel slicer feature in the below link.

https://support.office.com/en-us/article/use-slicers-to-filter-data-249f966b-a9d5-4b0f-b31a-12651785d29d

[2020-04-02 23:49] ajmas commented on #139
Wondering whether there should be a check for this? Additionally that promise rejection should probably be handled?

[2020-04-13 21:07] wombat86 opened #311 "Content-Disposition header value has incorrect syntax"
**Describe the bug**
When piping a Workbook to HTTP response, `Content-Disposition` header is set to a string with trailing **";"** e.g: `attachment; filename="report.xlsx"; filename*=utf-8''report.xlsx;`

According to [RFC 2183](https://tools.ietf.org/html/rfc2183#section-2), the syntax of **Content-Disposition** header does not imply having a **";"** character at the end of the header value. Thi

[2020-04-15 12:05] achieverprince commented on #296
It is not supported as of now. Maybe @natergj can add this enhancement, I believe it is a most wanted feature.

[2020-04-15 12:15] achieverprince commented on #193
@ealtuna can you please reopen this, we also want this feature

[2020-04-25 19:17] ArthurDumas opened #312 "table support (worksheet/tableParts and table"
I just started using excel4node and it is a terrific library!

My feature request is to add table support as defined here:
- https://docs.microsoft.com/en-us/office/open-xml/working-with-tables
- https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml.spreadsheet.tableparts?view=openxml-2.8.1
- https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml.spreadsheet.table?view=ope

[2020-04-27 08:58] SferaDev commented on #292
I can reproduce it too with excel files created in our own templates:

[code]

[2020-05-08 21:07] raul3k commented on #309
[code]

[2020-05-23 18:21] surfingtomchen commented on #95
thanks. it's a good solution for one line. how about the wrapText is true? I need to find a way to adjust the row height automatically.

[2020-05-29 09:20] wasinoff opened #313 "Error : Right-hand side of 'instanceof' is not an object"
Im use excel4node in vuejs but error "Uncaught (in promise) TypeError: Right-hand side of 'instanceof' is not an object"

[2020-06-01 14:48] thegurumonkey commented on #294
Here's a free google-sheet formula parse and evaluate tool for untangling formulae:

https://docs.google.com/spreadsheets/d/1wwclmAMXGaFanVLlyvzv63fDx6JkwOcT6Dkisac-sXI/copy

It's free. It's tiny. It's just a simple shared google-sheet file (with no macros, add-ons or fancy stuff). Click the link to make your own copy. Have a try, and if you like it, bookmark it for future use while fighting formu

[2020-06-16 15:55] AlexMesser commented on #95
@surfingtomchen, you can divide the text length by the column width (rounded up).  E.g. text length is 27 and col width is 10 - row height will be 3. Btw, I don't remember what unit of measure is used for row height, is it a point, pixel or something else, but anyway you can use the found value as coefficient.

[2020-06-17 09:10] Kadasiddha commented on #161
Hi @natergj,

I am facing similar issue. When we try to open file in Microsoft Excel its give prompt to repair the file. After repair the dropdown doesn't have the values.

[code]
Where validationRec has following JSON ARRAY
[code]

Can you please help me with this?

[2020-06-18 12:04] MilyaushaShigapova opened #314 "how to write the power of a number? (10 ^ 2) To keep the index on top"

[2020-06-27 08:23] brijeshpant83 opened #315 "not able to use Greek language while writing cell"
**Describe the bug**
Unable to write Greek langue in worksheet.cell(rowstart, 5).string(element.name); its giving error undefined type

**Expected behavior**
This should write cell with Greek content as well, however its works with English

please help to get this solved

[2020-07-06 13:00] xjuni0r87 commented on #294
hi @neerajhiretual .
did you solved it? i've the same issue
thanks!

[2020-07-09 05:00] LucGranato commented on #291
Hi @enesien ,
Have you solved your problem?
I'm facing very slow cell inputs too.
Thanks!

[2020-07-21 13:34] abhidp opened #316 "Cannot freeze columns"
**Describe the bug**
When trying to freeze a column, it totally hides that column from the sheet and is not accessible in any way.

**To Reproduce**
[code]
**Expected behavior**
`ws.column(1).freeze()`  should freeze the first column and rest of the columns should be scrollable

**Environment (please complete the following information):**
 - OS:
ProductName:    Mac OS X
ProductVersion: 10.15.5
Bui

[2020-07-21 19:47] #93 closed

[2020-07-22 07:37] nivb52 commented on #155
I found the same error and fix it on v1.7 by kid of this solution in setting up the UTC.
If you will send me the relevant file, line in this version i will check if it will work for this version as well

[2020-07-31 06:36] kongpcc02 commented on #316
Column 1 was freeze but width of the column is 0.00.
Please set style of column 1.

[2020-08-05 10:43] Renishgotecha opened #319 "Maximum How many columns and rows we can create"
Please let me know how many columns and rows we can create also how to extend it.

[2020-08-17 20:35] robbie-wilson opened #320 "Set selected/active cell"
I'm generating a spreadsheet with rows of most recent items at the bottom, I want to be able to set the active cell to the most recent item.

Really looking for something like worksheet.setActiveCell(0, 0);
Am I missing something in the docs?

Thanks

[2020-09-08 22:11] Awoogamuffin opened #321 "Too many merged cells in a worksheet makes generation gradually slow to a crawl"
If you have a large worksheet where multiple cells are merged, you'll notice that with each new range of merged cells it takes a little bit longer until, for large enough datasets, it becomes unworkable

I had this issue and assumed it was to do with large datasets. But when removing the title rows for each table, which included multiple pairs of merged cells, the document was created in a flash.

[2020-09-18 20:49] juanpablo64 commented on #309
hello, I tried this  solution but I didn't get the download message on the cllient. what could I be missing? I am using  angularjs. This is the  call to the server:

$scope.createReport = function(){
			$http.post('/export/createHoursReport?'+ $.param({campaign : campaign_id, date : $('#date').val(), type: 'hours'}))
			.success(function(data) {
				console.log(data);
			})
		}

I am guessing I am

[2020-09-18 20:57] juanpablo64 commented on #309
tried processing it as blob data, but the file in result is corrupted. What could I be missing?

var blob = new Blob([data], { type: "octet/stream" });
				var link = document.createElement('a');
				link.href = window.URL.createObjectURL(blob);
				link.download = 'filename.xlsx';
				document.body.appendChild(link);
				link.click();
				document.body.removeChild(link);

[2020-09-21 13:32] juanpablo64 opened #322 "downloading as xlsx gives the corrupted data error"
When I download the data on the client, I always receive the "this excel is corrupted" message. The filesize is also different and I do not know why.

**To Reproduce**
on the server:
[code]
on the client (angular js 1)

[code]
**Expected behavior**
I want to download a clean excel file with the contents as generated on the server

**Environment (please complete the following information):**
 - OS:

[2020-09-25 18:54] AlexsandroProjetosOficial commented on #98
I have the same problem, can I solve it?

[2020-09-28 16:43] giordifungula commented on #322
I am having a similar issue, but I am using node mailer to email the excel sheet that gets generated, its showing that the file is corrupt. So I am also looking around for possible solutions and help.

[2020-09-29 20:56] juanpablo64 commented on #322
I managed to solve it by myself, here's what I did

server side:
wb.writeToBuffer().then((buffer) => {
					const binaryBuffer = Buffer.from(buffer);
					res.attachment('Spreadsheet.xlsx');
					return res.status(200).send({status:'ok',file:binaryBuffer});
				});

client side:

function toArrayBuffer(buf) {
			var ab = new ArrayBuffer(buf.length);
			var view = new Uint8Array(ab);
			for (var i

[2020-09-30 10:06] giordifungula commented on #322
Thanks @juanpablo64 do we want to close this and mark it resolved :)

[2020-09-30 18:24] #322 closed

[2020-10-07 15:41] giordifungula commented on #23
has anyone managed to adjust the width of the cells yet?

[2020-10-15 03:57] duanyukai opened #323 "New line in a cell with more than 255 characters"
I've found this tricky way to insert new line in a cell with excel4node.
```ws.cell(1, 1).formula('="first line"&CHAR(10)&"second line"');```
But when the cell has more than 255 characters, the cell content disappeared.
Though I can split the text and use `CONCATENATE`, but is there an more elegant way to insert a long piece of text with new line?

[2020-10-22 14:34] metawrap-dev commented on #293
This is a major issue for me. Need write to be async OR the ability to perform a blocking flush/close.

A the moment when generating a report and exiting process.exit(-1); the workbook is not written.

[2020-10-25 12:37] giordifungula commented on #95
@AlexMesser thanks for that one, good solution. It looks like the wrapText: true does not work on excel4node hey?
For now just adujsted the width of the column and that seems to do the job :)

[2020-10-26 14:16] ThisIsRuddy commented on #28
Any news on Data Table support? Microsoft NAV uses import specific generated Excel templates using Data Tables for general CRUD operations. Currently, I have not been able to find any node-based library that can add data to these tables without breaking them. I have built some microservices to provide some synchronization reporting which I want to generate 'ready to import' excel files and this is

[2020-10-26 18:11] n-a-t-e opened #324 "Date from UTC String off by an hour only on certain dates"
On certain dates, a UTC time from a string is showing up an hour off. I am in the Pacific time zone, but am using UTC in hopes to avoid PDT/PST time change issues.

[code]

https://gist.github.com/n-a-t-e/504737fc250ed9e515daeaea50322dae

Here are the dates I have tried and found to be off by an hour:

These are off:
`"2020-03-06T15:38:00Z"`
`"2020-03-07T19:59:54.000Z"`

These work fine:
`"2020-03

[2020-10-28 13:13] Dulajdeshan opened #325 "Add support for fractions"
Currently only integers are support throught the `cell.number()` method. But I realy need to add fraction values. As an example  8 1/4 cannot be added as Fraction. Currently it can be add as a String. But It gives a warning in excel sheet. It would be nice if you can add support for the fractions as well.

[2020-11-04 19:45] mactyr commented on #155
There definitely seems to be something wrong with date conversion regarding daylight savings time. Here's my setup, using excel4node 1.7.2:
[code]
The `start` and `end` are both UTC strings specifying the same time on different days, so the numeric date values should differ by exactly 31, but for some reason the `end` gets an hour added (the number translates to 07:00 rather than 06:00). I suspect

[2020-11-04 20:02] mactyr commented on #324
I believe the problem is related to daylight savings time changes, in the machine's local timezone, even though that shouldn't affect UTC dates. Here's my setup, using excel4node 1.7.2:
[code]
The `start` and `end` are both UTC strings specifying the same time on different days, so the numeric date values should differ by exactly 31, but for some reason the `end` gets an hour added (the number tra

[2020-11-04 20:04] mactyr commented on #155
In case anyone else is here because you're seeing date shifts by 1 hour that might be related to daylight savings time changes somehow having an effect on the value UTC timestamps -- that's under discussion at #324.

[2020-11-04 20:17] mactyr commented on #324
When I change line 143 (and line 150, which is identical) to the following, to add exactly 24 hours rather than "1 date" to `thisDt`, it seems to get fix the incorrect hour shift.
[code]
I'm not sure exactly what the full intention of these two lines are (i.e. why days need to be added at all) so it's possible this fix for my problem breaks other edge cases, but at least it's a place to start.

[2020-11-11 13:19] vikas-shinde opened #326 "comment not seen"
ws.cell(2, 1).string('Cell A2').comment('My custom comment', {
  fillColor: '#ABABAB', // default #FFFFE1
  height: '100pt', // default 69pt
  width: '160pt', // default 104pt
  marginLeft: '200pt', // default is calculated from column
  marginTop: '120pt', // default is calculated from row
  visibility: 'visible', // default hidden
  zIndex: '2', // default 1
})

i am trying to add comment but is

[2020-11-19 08:10] atlanteh opened #327 "readingOrder doesn't work"
**Describe the bug**
Setting `readingOrder` as `rightToLeft` have no impact on the document

**To Reproduce**
https://gist.github.com/atlanteh/f0f0a11e359bb75582c24b32f67401bc

**Expected behavior**
The cell should show the percentage to the right of the 'test' word

**Environment (please complete the following information):**
 - OS: win10
 - Node Version: 12
 - excel4node Version: 1.7.2
 - Applic

[2020-11-29 20:00] BruneXX commented on #311
Hi Guys, can you take a look at this issue?

[2020-11-29 23:31] BruneXX commented on #95
Hi Guys, any update on this?

[2020-12-03 18:48] jsphkm commented on #47
How do you download the file when the response is received from the frontend?

[code]

[2020-12-03 18:51] jsphkm opened #329 "How do you download the excel file when the response is received from the frontend?"
How do you download the excel file when the response is received from the frontend?

[code]

[code]

[2020-12-03 23:19] jsphkm commented on #329
After a successful api call, the backend returns a 200, and the response in the frontend is an object.  How do I get the browser to download as a .xlsx file?

[2020-12-11 01:40] FunctorGuys commented on #265
Had any luck on here yet guys?

[2020-12-14 09:49] saikumar-madana opened #330 "Date format is not changing"
When I try to change the format of the date it is not changing

[code]

Still, the date is appearing like `11-12-2020`

Can you please help what are the other changes I need to make.

Thank you...

[2021-01-06 15:30] nivb52 commented on #330
try like this -
DATE_STYLE =  { numberFormat: **'dd / mm / yyyy'** }
.style(DATE_STYLE );

[2021-01-16 15:29] lsbyerley opened #332 "Write to Existing File"
**Is your feature request related to a problem? Please describe.**
When using `wb.write()` to create a file, if the file already exists, does it update the file?

In my experience, when trying to write to an existing file, nothing happens. Is there a way to have `wb.write()` update the file if it already exists or create it if it doesnt?

[2021-01-18 14:23] nihatyldz42 commented on #197
I am getting the same error, and I couldn't find any solution.

[2021-01-25 10:07] maikknebel commented on #329
This is my express-endpoint serving the file. 'someFileStream' is just a placeholder, put any code there that returns a stream.
[code]

This is the axios-call i am doing in the browser-code.
[code]

[2021-01-25 13:54] #329 closed

[2021-02-01 17:52] shortstuffsushi commented on #307
Appears to be a duplicate of #139

[2021-02-02 19:59] oagutierrez363 commented on #193
@natergj any thoughts of working on this issue any time soon? Any suggestions on where to get started. This is the feature would be very useful. I'd like to lock the entire sheet except a few cells. Thanks in advance for any suggestions.

[2021-02-24 12:46] swftvsn opened #334 "Is this project dead?"
Long time no updates, will there be any ever?

[2021-02-24 13:47] burnedfaceless commented on #334
I would be willing to invest time into this module.

If it is needed, let me know!

[2021-02-25 14:58] mangel08 opened #335 "addDataValidation list dropdown not working when formula is string too long"
Hi everyone, i'm try to create excel file with dropdown list in specifics cells, but the excel file is corrupt.

![image](https://user-images.githubusercontent.com/13088844/109081580-4870c000-76e1-11eb-8279-7c08c5600545.png)

![image](https://user-images.githubusercontent.com/13088844/109081662-64746180-76e1-11eb-8eef-0525caa756c9.png)

![image](https://user-images.githubusercontent.com/13088844/1

[2021-02-25 20:50] ricardomiranda-allims opened #336 "Solved: creating a buffer"
**Describe the bug**
UnhandledPromiseRejectionWarning: TypeError: promiseObj.wb.Worksheet is not a function

**To Reproduce**
wb.writeToBuffer() on express.js

**Expected behavior**
genereta a buffer

**Environment (please complete the following information):**
 - OS: Windows 10
 - Node Version: 12.18.0
 - excel4node Version: 1.7.2
 - Application: Microsoft Excel
 - Application Version (if applica

[2021-02-25 23:35] mangel08 commented on #335
I'm confirmed thath string values is not too long! Maybe is special chars as (`, ´, ",  ñ, /) on the string values of formula in addDataValidation.

[2021-02-26 17:36] BruneXX commented on #140
Hi guys, I'm seeing that the posts are really old... So is this repo still maintained? What about this? I'm having troubles to open generated sheets in MS Excel, but in LibreOffice is opening just fine.

[2021-03-07 18:36] mangel08 commented on #335
I'm solved. I write the lists of data in other sheet and reference data with the addDataValidation with property formulas.

Example:

ws.addDataValidation({
  type: 'list',
  showDropdown: true,
  allowBlank: true,
  sqref: 'H2:H3',
  formulas: ['=BASE!$A$1:$A$100'],
});

[2021-03-07 18:36] #335 closed

[2021-03-16 10:24] Kadasiddha opened #337 "How can we handle regx or patterns?"
**Is your feature request related to a problem? Please describe.**
Can we handle regx or pattern in excel4node?
For example decimal. (10000000.00000000)
It should take 9999999999.99999999 so total 18 digits with 8 decimal places. the issue is excel converts after 15

**Describe the solution you'd like**
I am using string for this and need to add pattern or formula (like DECIMAL(10,8)) for the same

[2021-04-07 14:37] kticka commented on #334
Same here. I would like to know if this package is abandoned because I'm using it in few projects. If it's not dead I think I would contribute too, but as I can see no pull request merged for two years...

[2021-04-08 08:05] bfredo123 opened #338 "Heap out of memory for a non-formatted, 100k row file"
**Describe the bug**
I get a heap out of memory error when executing the code below, producing and saving a basic 100k-row file. It happens when calling the write method.

**To Reproduce**
https://gist.github.com/bfredo123/14a2b4f47bfcbdc83afb4748623b0fb3

**Expected behavior**
It should just save the file succesfully.

**Environment (please complete the following information):**
 - OS: MacOS 11.0

[2021-04-08 11:04] tiagocostaHB opened #339 "Set width and height in pixels and center image in cell"
Hi,

I've been trying to set the row height and the column width to the exact size in pixels of an image added to the cell, but I can't make it to fit, I've been trying with the examples given here (https://github.com/natergj/excel4node/issues/182#issuecomment-375118910), for example setting the column width with:

`        ws.column(ws.lastUsedCol).setWidth(
          Math.trunc(((imageSize.width

[2021-04-16 08:27] lenhnv1305 commented on #156
It seems i meet this error also, my case wb required at least one worksheet, calling wb.addWorksheet(sheetName)

[2021-04-17 07:44] ikochetkov commented on #309
Did you figure out? In postman I can save response, but unable to do it on client side of browser

[2021-04-18 18:16] SimeonRolev commented on #293
@natergj Definitely a major issue here.

[2021-04-28 10:37] jbuchananVCL opened #340 "Hard crash electron when writing file"
ElectronJS app hard crashes when writing a file:

`npm[27848]: ../../third_party/electron_node/src/api/callback.cc:62: Assertion `(Environment::GetCurrent(env->isolate())) == (env)' failed.
 1: 00007FF6405EFEF6 node::Buffer::New+47318
 2: 00007FF6405EFC83 node::Buffer::New+46691
 3: 00007FF6405A28C7 node::CallbackScope::CallbackScope+759
 4: 00007FF6405D7FBE node::EmitAsyncDestroy+199038
 5: 00007

[2021-05-05 05:54] noszone commented on #220
I am too faced same issue with Office 2010. Excel is asking for repair, after repair there is a xml log:

[code]

What sheet properties could lead to that errors?

[2021-05-05 06:32] noszone commented on #220
I think I fixed that by doing something like:

[code]

[2021-05-07 10:47] mellowcello77 commented on #293
Is there a wokaround? How else would you wait for a file to be written before downloading it?

[2021-05-07 10:52] SimeonRolev commented on #293
@mellowcello77 , @daweimau provided a workaround in this initial question. He writes synchronously to a buffer `await wb.writeToBuffer();` and then uses the default `await fs.writeFile` which is also synchronous.

[2021-05-07 11:05] mellowcello77 commented on #293
Thank you for clarifying that for me so quickly, it does actually work, just tested 👍🏻

[2021-05-11 09:54] appfrilans commented on #95
No update?

[2021-05-11 09:59] giordifungula commented on #95
@appfrilans "For now just adujsted the width of the column and that seems to do the job :)"
That was what I did when I was working on this, did you try it?

[2021-05-11 10:02] appfrilans commented on #95
Yes, setting manual width work but not quite ok if texts vary in length a lot. The issue was for auto-width, not manual.

[2021-06-07 16:53] andrescellini opened #341 "empty number cell"
i have an optional value on a cell that is numeric. There is a way to do this without casting to string the whole column? undefined null or "" not work

[2021-06-22 06:04] ahmadbilaldev opened #343 "Add ESM Support"
**Is your feature request related to a problem? Please describe.**

Change the module from CommonJS to ECMAScript Module (ESM). Some JS Frameworks support ESM now and importing CommonJS modules may get complicated. Given that Node.js 12 has become a MAINTENANCE LTS, ECMAScript modules are the official standard format to package JavaScript code for reuse. Converting to ESM is recommended because ES

[2021-07-22 13:29] ArtStepanyuk commented on #161
Having the same issue, everything works fine in Libre

[2021-09-03 02:23] kenisad5566 opened #345 "mergeCells function improvement"
**Describe the bug**
When  hundreds of row need to merge, cell/index.js mergeCells function run slowly.

**To Reproduce**
[code]

render much more than hundreds of merge cell, it generate excel much more slowly.

**Expected behavior**
It should be fast when render hundreds of merge cell excel.

**Environment (please complete the following information):**
 - OS: win64
 - Node Version: 12.10.0
 - ex

[2021-09-13 09:30] ikochetkov opened #346 "excel4node and Azure Functions"
Hi !
Using currently excel4node with expressJS. Sending the object and receiving binary data of excel
Want to go away from local server and move it to Azure Functions. Can someone tell is it possible and maybe someone has example how it should looks like?

[2021-09-19 07:08] Fayris-develop opened #347 "handling exceptions for error wb.write()"
Good afternoon. Is there some way to catch errors when writing is not possible?

For some time I could not understand why my program crashes, and then I realized that I had an output file open. Is it possible to somehow prevent the program from crashing and let the user know about it?

This construction doesn't work:

  try {
    wb.write('Result.xlsx');
  }
  catch (ex) {
    console.log("Close r

[2021-09-22 06:30] mikefarah opened #348 "Jszip audit issue"
**Describe the bug**
jszip (which this has a dep on for 3.2.1)  have a prototype pollution vulnerability. Crafting a new zip file with filenames set to Object prototype values (e.g __proto__, toString, etc) results in a returned object with a modified prototype instance.
Upgrade to version 3.7.0 or later
- [CVE](https://nvd.nist.gov/vuln/detail/CVE-2021-23413)
- [GitHub Advisory](https://github.co

[2021-09-22 07:32] fernandodevelon commented on #334
news ?

[2021-09-27 15:34] ikochetkov commented on #346
Adding some details here:
So AF using the following synthax to send the data back
`module.exports = async function (context, req) {
  try {
    context.res = { body: "Success!" };
  } catch(error) {
    const err = JSON.stringify(error);
    context.res = {
      status: 500,
      body: `Request error. ${err}`
    };
  }
};`

So looks like we can use our method:
`wb.write('Excel.xlsx', res);`
but

[2021-10-01 10:15] ikochetkov opened #349 "Get the binary code of excel and return it without express.js"
[code]

Hi folks I'm using Azure container and It's not allow to use the express.js library, it's using some other vanilla methods and response can be returned only trough
[code]
So I'm not able to use this method  wb.write('ExcelFile.xlsx', res);, because I don't have a RES. Tried context.res but it's also not working

Is there a way how can I get the binary data and put it to some variable and t

[2021-10-04 07:25] davrontb opened #350 "Worksheet print option. "Scale to fit" flag"
First of all, thank you for making such a great package excel4node.

I have a problem with this package. This is related to a printing worksheet. I want to print a worksheet with the "Scale to fit" flag turned on by default.

Is it possible to add such a feature? Or can you suggest an alternative solution to this problem?

<img width="433" alt="Screen Shot 2021-10-04 at 12 16 41 PM" src="https://u

[2021-10-04 14:37] davrontb commented on #350
Found. An alternative solution could be reached by using the "fitToWidth" option.

[code]

[2021-10-04 14:38] #350 closed

[2021-10-09 21:23] t-heu opened #351 "How to avoid overwriting the previous data?"
if I leave it running and use it multiple times, it doesn't create a new file it replaces the old one.
I even found a topic from a guy with the same problem: https://stackoverflow.com/questions/55986540/how-to-avoid-overwriting-the-previous-data-using-excel4node

[2021-12-09 22:31] Svetloslav15 opened #352 "Cannot save file locally"
**Describe the bug**
I want to save an .xlsx into local directory but only found function that is downloading the file without saving it.

[2021-12-12 21:01] AleksanderSkubala commented on #343
bump

[2022-01-07 17:42] nowherenearithaca commented on #297
I'm curious about this, too.  Is there a way to shove the styling info in there?

[2022-02-17 05:55] gabrielsfarias opened #355 "Depedency jszip update"
Although this seems like a dead project by now, I have to use it a current project, and it  requires `jszip@3.2.1`, which has a security vulnerability documented at CWE-1321 with the id CVE-2021-23413.
So, someone with more knowledge could at least bump the depedency requirements for the fixed versions of jszip (3.7.0)